.template-x-helper form {
  display: grid;
  width: 550px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.template-x-helper span {
  grid-column: 1 / 2;
  border: solid 1px #000;
  font-weight: bold;
}
.template-x-helper input,
.template-x-helper select {
  grid-column: 2 / 5;
}

.template-x-helper .header {
  grid-column: 1 / 5;
}
.template-x-helper .header {
  width: 100%;
  height: 200px;
}
.template-x-helper .blank-label {
  grid-column: 1 / 2;
}
.template-x-helper .blank-image {
  grid-column: 2 / 3;
}
.template-x-helper .blank-link {
  grid-column: 3 / 4;
}
.template-x-helper .blank-ratio {
  grid-column: 4 / 5;
}
