
 .wayfinder.block {
  border: 2px solid black;
  border-radius: 20px;
  padding: 16px 20px 12px 20px;
  margin-left: 10px;
  margin-right: 10px; 
  
}

.wayfinder.block.borderless {
  border: none;
}

 .section .wayfinder.block {
  margin-top: -60px;
}

 .wayfinder.block.dark {
  background-color: black;
  color: white;
}

 .wayfinder.block.light {
  border: 2px solid var(--color-info-accent);
}

 .wayfinder.block.gradient {
  background: linear-gradient(
    90.93deg,
    #aa5ef6 0.23%,
    #ef67f0 39.65%,
    #ff4fed 59.89%,
    #f69634 108.11%
  );
  color: black;
  border: 2px solid white;
}

 .wayfinder.block .cta-row .button {
  height: fit-content;
  margin: 8px; 
  background-color: black;
  border-color: black;
}

 .wayfinder.block.dark .cta-row .button {
  color: white;
  border-color: white;
}

 .wayfinder.block .text-row{
  margin: auto;
  font-size: 16px;
}

 .wayfinder.block .cta-row strong .button {
  background-color: var(--color-info-accent);
  color: white;
  border: none;
  padding-bottom: 8px;
  padding-top: 8px;
}

 .wayfinder.block .cta-row em .button {
  background-color: transparent;
  color: black;
}

 .wayfinder.block .cta-row em strong .button {
  background-color: none;
  border: none;
  text-underline-offset: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 11px;
}

 .wayfinder.block .cta-row {
  overflow-x: scroll;
  margin-left: 10px;
  margin-right: 10px;
}

 .wayfinder.block .cta-row::-webkit-scrollbar {
  display: none;
}

 .wayfinder.block .cta-row > div {
  display: flex;
  width: max-content;
  margin: auto;
} 

@media (min-width: 540px) {
   .wayfinder.block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 90%;
    padding: 10px;
  
  }
   .section .wayfinder.block {
    margin-top: -30px;
  }

   .wayfinder.block .text-row {
    margin: initial;
    font-size: 18px;
  }

   .wayfinder.block .text-row div {

    gap: 16px;
  }

   .wayfinder.block .cta-row {
    display: flex;
    margin-left: 10px;
    overflow-x: scroll;
  }
}

@media (min-width: 1200px) {
   .wayfinder.block div {
    display: flex;
    width: fit-content;
    flex: none;
  }
}
