

 .wayfinder {
    border : 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
 }

 .wayfinder.light {
    border : 2px solid var(--color-info-accent);
 }

 .wayfinder.gradient {
    background: linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%) !important;
    color : white;
    border : 2px solid white; 
 }

 .wayfinder .cta-row .button {
    height: fit-content;
    margin: 8px;
    background-color: black;
    border-color: black;
 }

 .wayfinder div p {
    margin: auto;
    font-size: 12pt;
 }

 .wayfinder .cta-row strong .button {
    background-color:var(--color-info-accent);
    color: white;
    border: none;
    padding-bottom: 8px;
    padding-top: 8px;
 }

 .wayfinder .cta-row em .button {
    background-color: transparent;
    color: black;

 }

 .wayfinder .cta-row em strong .button {
    background-color: none;
    border: none;
    text-underline-offset: 5px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: underline;
    padding-left: 8px;
    padding-right: 8px;
 }

 .wayfinder .cta-row { 
   overflow-x: scroll;
}

.wayfinder .cta-row > div {
   display: flex;
   width: max-content;
   margin: auto;
}
 @media (min-width: 1025px){

    .wayfinder {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 

    .wayfinder .text-row div {
      gap: 16px;
    }

    .wayfinder .cta-row {
      display: flex;
      margin-left: 10px; 
      overflow-x: scroll;
   }

 
    
 }


 @media (min-width: 1200px){
   .wayfinder div {
      display: flex;
      width: fit-content;   
      flex: none;
  }
 }
 