.billing-radio {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: var(--body-font-size-s);
  height: 32px;
}
.billing-radio button {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-size: var(--body-font-size-xs);
  display: flex;
  align-items: center;
  gap: 4px;
}

.billing-radio :focus-within {
  border: 2px var(--color-info-accent) solid;
}

.billing-radio span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s all linear;
  border: 2px solid #292929;
  box-sizing: border-box;
}

.billing-radio .checked span {
  border-width: 6px;
}