
 .billing-radio-group :focus-within {
  border: 2px var(--color-info-accent) solid;
}

 .billing-radio-fieldset { 
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: var(--body-font-size-s);
  height: 32px;
}

 .billing-radio-group {
  gap : 4px;
  display: flex;
}
 .billing-radio-fieldset form label {
  font-size: 9pt;
  height: fit-content;
  margin: auto;
}

 .billing-radio-fieldset div { 
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    font-weight: bold;
    font-size: var(--body-font-size-s);
}

 .billing-radio-group span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s all linear;
  border: 2px solid #292929;
  box-sizing: border-box;
}

 .billing-radio-group .checked span {
  border-width: 6px;
}

 .billing-radio-item[role='radio']{ 
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  accent-color: black;
  background-color: black ;
  font-size: var(--body-font-size-xs);
  display: flex;
  align-items: center;
  gap: 4px;
}

 .billing-radio-item:focus{
  outline: 5px auto var(--tabs-pill-bg-color);
}