.firefly-card {
  margin: 0.5rem;
}

.firefly-card h3 {
  display: flex;
  z-index: 1;
  font-size: var(--heading-font-size-s);
  color: var(--color-white);
  font-weight: 700;
}

.firefly-card .a-tag-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 0.75rem;
  box-sizing: border-box;
  min-height: 226px;
  max-width: 360px;
  height: 100%;
  margin: auto;
  border-radius: 24px;
  overflow: hidden;
  padding: 21px 20px 12px 20px;
  background-image: url("/express/media_1e14a2f24184a4a2f6d990ac3a20e3bc75cb3424a.png#width=360&height=226");
  background-color: var(--color-gray-100);
  background-position: bottom;
  background-size: cover;
}

.firefly-card picture {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  filter: brightness(0.6);
}

.firefly-card picture {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
}

.firefly-card picture.show {
  opacity: 1;
  z-index: 1;
}

.firefly-card picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.firefly-card .mock-text-wrapper {
  display: table;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-black);
  background: white;
  font-size: var(--body-font-size-l);
  font-weight: normal;
  z-index: 1;
  min-height: 44px;
  height: fit-content;
  min-width: 46px;
  max-width: 320px;
  border-radius: 24px;
  box-shadow: 0 3px 6px #00000029;
  padding: 0.5rem 1rem;
}

.firefly-card .mock-text-wrapper.stacked {
  position: absolute;
  bottom: 14px;
  display: flex;
  flex-direction: column;
}

.firefly-card .mock-text {
  display: table-cell;
  vertical-align: middle;
  min-height: 30px;
  margin: 0;
}

.firefly-card .mock-text-wrapper.stacked .mock-text {
  margin-bottom: 8px;
}

.firefly-card .mock-text::after {
  content: '|';
}

@keyframes blink {
  0%, 49% { visibility: visible; }
  50%, 100% { visibility: hidden; }
}

.firefly-card .mock-text::after {
  animation: blink 1s infinite;
}

.firefly-card a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/express/media_1c4759e080eba5ac9f87fe2c61a1efa5670681f24.png#width=248&height=74");
  border: none;
  height: 60px;
  width: 200px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  border-radius: 36px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--body-font-size-l);
}

@media (min-width: 900px) {
  .firefly-card {
    display: none;
  }
}
