.firefly-card {
  height: 226px;
  margin: 0.5rem;
}

.firefly-card h3 {
  display: flex;
  position: relative;
  z-index: 3;
  font-size: var(--heading-font-size-s);
  color: var(--color-white);
  font-weight: 700;
  transform: translateY(-4px);
}

.firefly-card .a-tag-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.75rem;
  box-sizing: border-box;
  height: 100%;
  border-radius: 36px;
  padding: 0 1rem;
  background-image: url("https://main--express--adobecom.hlx.page/media_1e14a2f24184a4a2f6d990ac3a20e3bc75cb3424a.png#width=360&height=226");
}

.firefly-card picture {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  filter: brightness(0.6);
}

.firefly-card picture {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
}

.firefly-card picture.show {
  opacity: 1;
  z-index: 1;
}

.firefly-card picture img {
  height: 100%;
  width: 100%;
  border-radius: 36px 36px 0 0;
  object-fit: cover;
}

.firefly-card .mock-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-black);
  background: white;
  font-size: var(--body-font-size-l);
  font-weight: normal;
  z-index: 1;
  min-height: 44px;
  height: fit-content;
  min-width: 46px;
  border-radius: 36px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0 1.5rem 0 1rem;
}

.firefly-card .mock-text {
  position: relative;
  min-height: 30px;
  margin: 0;
}

.firefly-card .mock-text::after {
  content: '|';
}

@keyframes blink {
  0%, 49% { visibility: visible; }
  50%, 100% { visibility: hidden; }
}

.firefly-card .mock-text::after {
  animation: blink 1s infinite;
}

.firefly-card a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://main--express--adobecom.hlx.page/media_1c4759e080eba5ac9f87fe2c61a1efa5670681f24.png#width=248&height=74");
  border: none;
  height: 60px;
  width: 200px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  border-radius: 36px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--body-font-size-l);
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .firefly-card {
    display: none;
  }
}