
main .split-action {
    position: relative;
    transition: opacity 0.2s;
    z-index: 10;
}

main .split-action.hidden {
    display: none;
}

main .split-action.transparent {
    opacity: 0;
}

body.branch-banner-is-active .split-action-container {
    z-index: 100000;
}

main .split-action .block-body {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    color: var(--color-white);
    margin: 10px;
    padding: 24px;
    border-radius: 24px;
    z-index: 1;
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 400% 400%;
    -webkit-animation: buttonGradient 45s ease infinite;
    -moz-animation: buttonGradient 45s ease infinite;
    animation: buttonGradient 45s ease infinite;
    transition: bottom 0.2s;
}

main .split-action .block-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
}

main .split-action .block-background .underlay {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    opacity: 50%;
}

main .split-action .block-background img {
    width: 100%;
    object-fit: cover;
}

main .split-action .block-body > div {
    padding: 12px 0;
}

main .split-action .block-body > div:nth-of-type(1) h2 {
    text-align: left;
}

main .split-action .block-body > div:nth-of-type(2) {
    padding-right: 32px;
}

main .split-action .icon {
    min-width: 175px;
    min-height: 32px;
}

main .split-action .block-body > .buttons-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

main .split-action .block-body  > .buttons-wrapper > a.button {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 23px;
    border-radius: 100px;
    background-color: var(--color-white);
    color: var(--color-info-accent);
    border: none;
    margin: 8px 8px 0 0;
}

main .split-action .block-body > .buttons-wrapper > a.button:last-of-type {
    margin: 8px 0 0 0;
}

main .split-action .block-body > .buttons-wrapper > a.button:first-of-type {
    padding: 14px 11px;
    display: unset;
    background-color: transparent;
    color: var(--color-white);
}

main .split-action .notch {
    position: absolute;
    padding: 6px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

main .split-action .notch-pill {
    border-radius: 20px;
    height: 4px;
    width: 36px;
    background: var(--color-gray-200);
    opacity: 30%;
}
