.section .gen-ai-cards-wrapper {
  max-width: none;
}

.gen-ai-cards {
  padding: 0 28px;
  max-width: 1440px;
  margin: auto;
}

.gen-ai-cards.homepage {
  padding-left: 0;
  padding-right: 0;
}

.gen-ai-cards .gen-ai-cards-heading-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto auto 32px;
}

.gen-ai-cards .gen-ai-cards-heading-section h2 {
  text-align: left;
  max-width: 800px;
  margin-bottom: 8px;
  font-size: var(--heading-font-size-m);
}
.gen-ai-cards .gen-ai-cards-heading-section p {
  text-align: left;
  margin: 0;
  max-width: 800px;
}

.gen-ai-cards .gen-ai-cards-heading-section .gen-ai-cards-link {
  font-size: var(--body-font-size-s);
  line-height: 22px;
  color: var(--body-color);
  text-decoration: underline;
}

.gen-ai-cards .carousel-container .carousel-platform {
  align-items: unset;
}

.gen-ai-cards.homepage .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gen-ai-cards .card {
  position: relative;
  height: 347px;
  width: 406px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 8px;
  background-color: #f4f4fd;
}

.gen-ai-cards.homepage .card {
  border: 2px solid #E1E1E1;
  background: var(--color-white);
}

.gen-ai-cards.homepage .carousel-element.card {
  width: 292px;
  height: 396px;
  flex-direction: column;
}

.gen-ai-cards .carousel-left-trigger ~ .card {
  margin-left: 0;
}

.gen-ai-cards .card .text-wrapper {
  text-align: left;
  margin: 20px 15px 16px 15px;
}

.gen-ai-cards .card .text-wrapper p {
  margin: 0;
}

.gen-ai-cards .card .text-wrapper p.cta-card-title {
  font-size: var(--body-font-size-l);
  line-height: var(--body-font-size-m);
  font-weight: 700;
}

.gen-ai-cards .card .text-wrapper .tag {
  font-size: 10px;
  padding: 0 4px;
  margin-left: 6px;
  font-weight: 700;
  background-color: #DEDEF9;
  color: var(--color-info-accent);
  border-radius: 4px;
}

.gen-ai-cards .card .text-wrapper p.cta-card-desc {
  font-size: var(--body-font-size-s);
  line-height: var(--body-font-size-l);
}

.gen-ai-cards .card .media-wrapper {
  position: absolute;
  border-radius: 16px;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  width: 374px;
  height: 246px;
  overflow: hidden;
}

main .gen-ai-cards.homepage .carousel-container a.button.carousel-arrow {
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .gen-ai-cards.homepage .carousel-container a.button.carousel-arrow::before {
  width: 7px;
  height: 7px;
  border-top: solid 3px var(--color-gray-700);
  border-right: solid 3px var(--color-gray-700);
}

main .gen-ai-cards.homepage .carousel-container .carousel-fader-left.arrow-hidden a.button.carousel-arrow::before,
main .gen-ai-cards.homepage .carousel-container .carousel-fader-right.arrow-hidden a.button.carousel-arrow::before {
  border-top: solid 3px var(--color-gray-400);
  border-right: solid 3px var(--color-gray-400);
}

main .gen-ai-cards.homepage .card .media-wrapper {
  border-radius: 8px;
}

.gen-ai-cards.homepage .card .media-wrapper {
  width: 262px;
  height: 274px;
}

.gen-ai-cards .card .media-wrapper picture img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.gen-ai-cards .card .gen-ai-input-form {
  position: absolute;
  width: 352px;
  height: 55px;
  padding: 8px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid var(--color-info-accent);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(-100% - 30px));
  display: flex;
  justify-content: space-between;
}

.gen-ai-cards .card .gen-ai-input-form input {
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  resize: none;
  width: 230px;
}

.gen-ai-cards .gen-ai-input:active,
.gen-ai-cards .gen-ai-input:focus-visible {
  border: none;
  outline: none;
}

.gen-ai-cards .card .gen-ai-input-form input::placeholder {
  font-style: italic;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
}

.gen-ai-cards .card .gen-ai-input-form input:placeholder-shown {
  text-overflow: ellipsis;
}

.gen-ai-cards .card .gen-ai-input-form button:disabled {
  pointer-events: none;
}

.gen-ai-cards .card .gen-ai-input-form .gen-ai-submit {
  color: var(--color-white);
  background-color: var(--color-info-accent);
  border-style: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: var(--body-font-size-s);
  font-weight: 700;
  padding: 10px 1.5em 10px 1.5em;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color .2s;
}

.gen-ai-cards .card.gen-ai-action .gen-ai-input-form .gen-ai-submit {
  left: 56px;
  bottom: 24px;
}

.gen-ai-cards .gen-ai-input-form .gen-ai-submit:not(:disabled):hover {
  background-color: var(--color-info-accent-hover);
}

.gen-ai-cards .card .gen-ai-input-form .gen-ai-submit:disabled {
  background-color: var(--color-gray-200);
  color: var(--color-gray-500);
}

.gen-ai-cards .card .links-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
}

.gen-ai-cards .card .links-wrapper a {
  margin: 4px auto;
  width: max-content;
  color: var(--body-color);
  border: 2px solid black;
}

.gen-ai-cards .card .links-wrapper a:hover {
  /* 90% white to align with products */
  background-color: #e6e6e6;
}

.gen-ai-cards .card .links-wrapper a:not(:hover) {
  background-color: var(--color-white);
}

main .gen-ai-cards.homepage .carousel-container .carousel-platform.left-fader:not(.right-fader) {
  -webkit-mask-image: none; 
  mask-image: none;
}

main .gen-ai-cards.homepage .carousel-container .carousel-platform.right-fader:not(.left-fade) {
  -webkit-mask-image: none; 
  mask-image: none;
}

main .gen-ai-cards.homepage .carousel-container .carousel-fader-left {
  align-items: end;
  top: 45px;
  right: 42px;
  left: auto; 
  pointer-events: none;
}

main .gen-ai-cards.homepage .carousel-container .carousel-fader-right {
  align-items: end;
  top: 45px;
  right: 15px;
  pointer-events: none;
}
.gen-ai-cards.homepage .gen-ai-cards-heading-section {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.gen-ai-cards.homepage .gen-ai-cards-heading-section p {
  font-size: 16px;
}

.gen-ai-cards.homepage .gen-ai-cards-heading {
  font-size: 22px;
}

.section .gen-ai-cards-wrapper.homepage {
  max-width: fit-content;
}

.gen-ai-cards.homepage .gen-ai-cards-heading-section h2, 
.gen-ai-cards .gen-ai-cards-heading-section p {
    text-align: center;
    max-width: none;
}
.gen-ai-cards.homepage .carousel-container {
  scroll-padding-left: 20px;
}  
.gen-ai-cards.homepage .carousel-container .carousel-element.card:nth-child(2){
  margin-left: 20px;
}

main .gen-ai-cards.homepage .carousel-container .carousel-fader-left.arrow-hidden,
main .gen-ai-cards.homepage .carousel-container .carousel-fader-right.arrow-hidden {
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 768px) {
  .gen-ai-cards.homepage .carousel-container .carousel-element.card:nth-child(2){
    margin-left: 30px;
  }
}

@media (min-width: 1280px) {
  .gen-ai-cards.homepage .carousel-container .carousel-element.card:nth-child(2){
    margin-left: unset;
  }
  .gen-ai-cards .gen-ai-cards-heading-section {
      flex-direction: row;
      align-items: flex-end;
  }
  .gen-ai-cards.homepage .gen-ai-cards-heading {
    font-size: 36px;
  }
  .gen-ai-cards .carousel-container .carousel-fader-left,
  .gen-ai-cards .carousel-container .carousel-fader-right{
      background: unset;
  }
  main .gen-ai-cards.homepage .carousel-container .carousel-fader-left,
  main .gen-ai-cards.homepage .carousel-container .carousel-fader-right {
    display: none;
  }
  main .gen-ai-cards.homepage .gen-ai-cards-heading {
    font-size: 22px;
  }
  main .gen-ai-cards .card {
    margin-right: 22px;
  }
}

@media (min-width: 1280px) {
  .gen-ai-cards.homepage .carousel-element.card .media-wrapper {
    width: 352px;
  }
  .gen-ai-cards.homepage .carousel-element.card {
    width: 380px;
    height: 392px;
  }
  .gen-ai-cards.homepage .card .text-wrapper {
    text-align: left;
    margin: 20px 15px 15px;
  }
  main .gen-ai-cards.homepage .gen-ai-cards-heading {
    font-size: var(--heading-font-size-m);
  }
}

.gen-ai-cards.homepage .card .text-wrapper {
  flex-grow: 1;
}

.gen-ai-cards.homepage .card .media-wrapper picture img {
  width: 100%;
}

.gen-ai-cards.homepage .card .media-wrapper {
  position: relative;
}

.gen-ai-cards.homepage .carousel-element.card {
  height: unset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
