main .how-to-steps-container > div > h2 {
  margin-top: 120px;
  margin-bottom: 80px;
}

main .how-to-steps-container {
  padding: 32px 0;
}

main .how-to-steps-container > div {
  padding: 0 20px;
  max-width: 810px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main .how-to-steps {
  margin-top: 20px;
  margin-bottom: 0;
}

main .how-to-steps + .block {
  margin-bottom: 80px;
}

main .how-to-steps > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-bottom: 40px;
}

main .how-to-steps .tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .how-to-steps .tip-text p {
  font-size: var(--body-font-size-l);
  margin-top: 16px;
  margin-bottom: 0;
}

main .how-to-steps .tip-text h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: var(--heading-font-size-s);
  text-align: left;
}

main .how-to-steps .tip-number {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  display: block;
  position: relative;
  background-color: var(--color-info-accent-light);
  border-radius: 50%;
  margin-right: 20px;
  color: var(--color-black);
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 800;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

main .how-to-steps .tip-number span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main .how-to-steps.narrow {
  max-width: 850px;
  margin: 0 auto; 
}

main .how-to-steps.narrow-mobile-width {
  max-width: none;
}

main .how-to-steps.narrow h3 {
  font-size: 28px;
}

main .how-to-steps.inline-tip.narrow .tip .tip-number,
main .how-to-steps.inline-tip.narrow-mobile-width .tip .tip-number {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  font-size: 22px;
}

main .how-to-steps .narrow {
  max-width: 850px;
  margin: 0 auto; 
}

.template-x-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .section .template-x-heading {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.template-x-thumbnail picture img {
  width: 200px; 
  height: auto;  
}

.template-x-thumbnail picture img.icon-share-arrow {
  width: 14px;
  height: auto;
}

.image-wrapper {
  padding: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 15px;
  z-index: 100;
  position: relative;
  z-index: 10;
}

.enlarged-template-img {
  border-radius: 10px;
  object-fit: cover;
}

.share-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20; /* Ensure it is above other elements */
  width: 24px; /* Adjust size as needed */
  height: 24px;
  background-color: white; /* White background for the circle */
  border-radius: 50%; /* Makes the background a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.share-icon-wrapper svg {
  width: 16px;  /* Adjust size to make it smaller */
  height: 16px;
  cursor: pointer;
}

/* Ensure the CTA button is hidden initially */
.image-wrapper .edit-template-button {
  display: none;
}

/* Show the CTA button when the .button-container is hovered */
.button-container:hover .edit-template-button {
  display: block;
  position: absolute;
  top: 50%; /* Adjust to desired position */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button */
  z-index: 10; /* Ensure the button appears above the image */
  background-color: var(--color-info-accent-light);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

@media (min-width: 600px) {
  main .how-to-steps .tip-number {
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    margin-right: 24px;
  }
  main .how-to-steps .tip-text h3 {
    font-size: var(--heading-font-size-m);
  }
  main .how-to-steps .tip-text p {
    font-size: var(--body-font-size-xl);
  }
}

@media (min-width: 900px) {
  main .how-to-steps-container > div {
    max-width: 1070px;
    padding: 0 40px;
  }
}
