main .section .discover-cards { 
    max-width: none; 
}
.discover-cards {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.discover-cards .sub-header {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 8px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.discover-cards .cards-container .card {
    min-width: 294px;
    height: 427px;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px auto;
    flex: 1 1 calc(33.33% - 32px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.discover-cards .cards-container .card.short.image-bottom {
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    height: 396px;
    min-width: 316px;
}
.discover-cards .center-title h3 {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
.discover-cards .gallery-control {
    padding-top: 8px;
}
.discover-cards .gallery-control .status {
    display: none;
}
.discover-cards .cards-container .card .text-content {
    text-align: left;
}
.discover-cards .cards-container .card .text-content .header {
    text-align: left; 
    font-size: 20px;
    margin-top: 10px;
}
.discover-cards .cards-container .card .text-content .body {
    font-size: 16px;
    width: 262px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.discover-cards .cards-container .card.image-bottom .small-header { 
    text-align: left; 
    font-size: 17px; 
    font-weight: 600;
}
.discover-cards .cards-container .card.image-bottom .small-text-content {
    text-align: left;
    display: contents;
}
.discover-cards .cards-container .card.image-bottom .small-text-body {
    margin: 0 0 5px 0;
    font-size: 14px;
    line-height: normal;
}
.discover-cards .cards-container .card.image-bottom picture img.tall {
    width: 294px;
    height: 289px;
    position: absolute;
    left: 8px;
    bottom: 10px;
}
.discover-cards .cards-container .card picture img.short {
    height: 147px;
    margin-top: 6px;
}
.discover-cards .card .button-container {
    position: absolute;
    bottom: 5px;
    left: 3px;
    right: 16px;
    text-align: left;
}
.discover-cards .card .button-container a {
    background-color: #292929;
    color: var(--color-white);
    border: none;
    width: 78px;
}
.discover-cards .cards-container .card .button-container.center-button {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: block;
    justify-content: center;
}
.discover-cards .card .button-container.center-button a {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
    text-align: center;
}

@media (min-width: 401px) {  
    .discover-cards .cards-container {
        padding: 16px;
    }
    .discover-cards .cards-container .card {
        min-width: 399px;
        height: 478px;
    }
    .discover-cards .center-title h3 {
        font-size: 36px;
    }
    .discover-cards .cards-container .card .text-content .header { 
        font-size: 28px; 
    }
    .discover-cards .cards-container .card .text-content .body { 
        width: auto;
    }
    .discover-cards .cards-container .card .text-content {
        text-align: left;
        width: 351px;
        margin-left: auto;
        margin-right: auto;
    }
    .discover-cards .gallery-control .status {
        display: flex;
    }
    .discover-cards .cards-container .card picture img.short { 
        width: 351px;
        height: 198px; 
    }
    .discover-cards .cards-container .card.short.image-bottom {
        min-width: 357px;
        height: 396px;
    }
    .discover-cards .cards-container .card.image-bottom picture img.tall {
        position: absolute;
        left: 14px;
        bottom: 10px;
        width: 325px;
    }
}