/* preserving modal space for ux */
.dialog-modal:has(.susi-light) {
  width: 360px;
  min-height: 462px;
}

.easy-in-wrapper .title {
  font-size: var(--heading-font-size-s);
  line-height: 28.6px;
  font-weight: 900;
}

.easy-in-wrapper .guest {
  padding: 16px 10px 24px 10px;
  background-color: #f3f3f3;
  font-weight: 700;
  width: 360px;
}

.easy-in-wrapper .guest a {
  text-decoration: underline;
  color: initial;
}