main .list {
    max-width: 375px;
    margin: 40px auto;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .list .item {
    margin-bottom: 50px;
    width: 310px;
}

main .list .item-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

main .list .item-text {
    margin-top: 0;
    font-size: 14px;
    color: rgb(40, 60, 96);
    text-align: center;
    line-height: 1.4;
}

main .list li, 
main .list p {
  line-height: 200%
}

@media (min-width: 900px) {
  main .list {
   max-width: 600px;
  }
  main .list .item {
    width: auto;
  }
}
@media (min-width: 1200px) {
  main .list {
    max-width: 1140px;
  }

  main .list .item {
    padding: 20px;
  }

  main .list .item {
    width: 220px;
  }
}

main .list > div > div > :first-child {
  margin-top: 0;
}

main .list > div > div > :last-child {
  margin-bottom: 0;
}

main .list {
    list-style: none;
    text-align: left;
    box-sizing: border-box;
}

main .list ol li {
    margin: 2em 0;
    display: block;
    position: relative;
    counter-increment: licount;
}

main .list ol li::before {
    background-color: #fcce00;
    border-radius: 50%;
    color: #fff;
    content: counter(licount);
    font-size: 1.25rem;
    font-weight: bold;
    height: 2.25rem;
    line-height: 2rem;
    width: 2.25rem;
    left: -4em;
    display: inline-block;
    position: absolute;
    text-align: center;
}
