.frictionless-quick-action-mobile.block {
    padding: 40px 20px;
    max-width: none;
}

.frictionless-quick-action-mobile.block h1 {
    font-size: 2.8125rem;
}

.frictionless-quick-action-mobile.block .express-logo {
    width: initial;
    height: 30px;
  }

.frictionless-quick-action-mobile.block h1+p {
    margin: 16px 0 24px;
    font-size: 1rem;
}

.frictionless-quick-action-mobile.block input {
    display: none;
}

.frictionless-quick-action-mobile.block .quick-action-container {
    padding: 40px 0;
    min-height: 697px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
}

.frictionless-quick-action-mobile.block h1 em {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 400% 400%;
    -webkit-animation: quickActionGradient 45s ease infinite;
    -moz-animation: quickActionGradient 45s ease infinite;
    animation: quickActionGradient 45s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    font-style: normal;
    -webkit-text-fill-color: transparent;
}

.frictionless-quick-action-mobile .container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    flex-wrap: wrap;
}

.frictionless-quick-action-mobile .container > div:nth-child(2) {
    margin-top: 26px;
}

.frictionless-quick-action-mobile.block video,
.frictionless-quick-action-mobile.block img:not(.icon) {
    max-width: 444px;
}

.frictionless-quick-action-mobile.block .dropzone-container {
    cursor: pointer;
    padding: 24px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 630px;
    height: 284px;
}

.frictionless-quick-action-mobile.block .dropzone-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background: url("/express/icons/dash-rectangle.svg") center center / 91% no-repeat;
}

.frictionless-quick-action-mobile.block .dropzone-container.highlight .dropzone-bg {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(6%) contrast(104%);
    transition: 0.3s ease-in-out;
}

.frictionless-quick-action-mobile.block .dropzone-container:hover, .frictionless-quick-action-mobile.block .dropzone-container.highlight  {
    background-color: rgb(211, 211, 211, 0.2);
}

.frictionless-quick-action-mobile.block .dropzone {
    height: 100%;
    width: 100%;
    position: relative;
}

.frictionless-quick-action-mobile.block .dropzone-bg + p {
    margin: 0;
    padding: 39px 24px 0 24px;
    font-size: var(--heading-font-size-m);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
}

.frictionless-quick-action-mobile.block .dropzone-bg + p em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action-mobile.block .dropzone p:last-of-type {
    font-size: .6875rem;
    margin: 0;
}

.frictionless-quick-action-mobile.block .dropzone .button {
    margin-bottom: 0;
}

.frictionless-quick-action-mobile .container > div:nth-child(2) > p:last-of-type {
    margin: 15px 0 0;
    font-size: 0.75rem;
}

.frictionless-quick-action-mobile.block .free-plan-widget {
    background-color: unset;
    flex-direction: row;
    padding: unset;
    margin: 16px auto 0 auto;
    gap: 8px;
}

.frictionless-quick-action-mobile.block .free-plan-widget > div {
    margin: 10px;
}

.frictionless-quick-action-mobile.block .free-plan-widget img.icon.icon-checkmark {
    background-color: #f06dad;
}
.frictionless-quick-action-mobile.block .quick-action-container {
    height: 667px;
}

.frictionless-quick-action-mobile.block .quick-action-container > * {
    height: 100%;
}

.frictionless-quick-action-mobile.block .quick-action-container#resize-image-container {
    height: 1080px;
}

.frictionless-quick-action-mobile.block > div.hidden {
    visibility: hidden;
    position: absolute;
}

.frictionless-quick-action-mobile.block > div.transparent {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
}

.frictionless-quick-action-mobile .error-toast.hide {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast button {
    background-color: unset;
    border: unset;
    padding: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 1200) {
    .frictionless-quick-action-mobile.block .quick-action-container#resize-image-container {
        height: 1000px;
    }
}
