.frictionless-quick-action-mobile {
    --animation-w: 335px;
    --animation-h: 233px;
}

.section .frictionless-quick-action-mobile {
    padding: 40px 20px;
    max-width: none;
}
/* TODO: font-family seems to be inconsistent? */

.frictionless-quick-action-mobile .headline {
    padding-bottom: 24px;
}

.frictionless-quick-action-mobile h1 {
    font-size: 2rem;
    text-align: left;
    line-height: 1.1;
    color: #242424;
}

.frictionless-quick-action-mobile .express-logo {
    width: initial;
    height: 30px;
}

.frictionless-quick-action-mobile input {
    display: none;
}

.frictionless-quick-action-mobile .quick-action-container {
    padding: 40px 0;
    min-height: 697px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
}

.frictionless-quick-action-mobile video,
.frictionless-quick-action-mobile img:not(.icon) {
    max-width: 444px;
}

.frictionless-quick-action-mobile video {
    height: var(--animation-h);
}

.frictionless-quick-action-mobile .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frictionless-quick-action-mobile .animation-container.hide {
    display: none;
}

.frictionless-quick-action-mobile .dropzone {
    width: var(--animation-w);
    height: var(--animation-h);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.frictionless-quick-action-mobile .dropzone .border-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    border-radius: 10px;
    border-image: url("/express/icons/dash-rectangle.svg") 20 / 20px;
}

.frictionless-quick-action-mobile .dropzone .text {
    font-size: 1.75rem;
    /* TODO: if winner, need to have dynamic width & height */
    width: 200px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    line-height: 1.1;
}

.frictionless-quick-action-mobile .dropzone .text strong {
    color: #5C5CE0;
    font-weight: 900;
}

.frictionless-quick-action-mobile .dropzone.hide {
    display: none;
}

.frictionless-quick-action-mobile .dropzone-bg + p {
    margin: 0;
    padding: 39px 24px 0 24px;
    font-size: var(--heading-font-size-m);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
}

.frictionless-quick-action-mobile .dropzone-bg + p em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action-mobile .dropzone p:last-of-type {
    font-size: .6875rem;
    margin: 0;
}

.frictionless-quick-action-mobile .dropzone .button {
    margin-bottom: 0;
}

.frictionless-quick-action-mobile .quick-action-container {
    height: 667px;
}

.frictionless-quick-action-mobile .quick-action-container > * {
    height: 100%;
}

.frictionless-quick-action-mobile .quick-action-container#resize-image-container {
    height: 1080px;
}

.frictionless-quick-action-mobile > div.hidden {
    visibility: hidden;
    position: absolute;
}

.frictionless-quick-action-mobile > div.transparent {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
}

.frictionless-quick-action-mobile .error-toast.hide {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast button {
    background-color: unset;
    border: unset;
    padding: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 1200) {
    .frictionless-quick-action-mobile .quick-action-container#resize-image-container {
        height: 1000px;
    }
}
