.frictionless-quick-action-mobile {
    --animation-h: 260px;
}

.section .frictionless-quick-action-mobile {
    padding: 24px 16px 0px 16px;
    margin: auto;
    max-width: none;
    text-align: left;
}

.frictionless-quick-action-mobile .headline {
    padding-bottom: 12px;
}

.frictionless-quick-action-mobile h1 {
    font-size: 2rem;
    text-align: left;
    line-height: 1.3;
    color: #242424;
}

.frictionless-quick-action-mobile h1.post-upload {
    font-size: var(--heading-font-size-m);
}

.frictionless-quick-action-mobile .express-logo {
    width: initial;
    height: 30px;
    padding-bottom: 8px;
}
.frictionless-quick-action-mobile .express-logo.hide {
    display: none;
}

.frictionless-quick-action-mobile input {
    display: none;
}

.frictionless-quick-action-mobile .quick-action-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
}

.frictionless-quick-action-mobile video,
.frictionless-quick-action-mobile img:not(.icon) {
    max-width: 444px;
}

.frictionless-quick-action-mobile .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.frictionless-quick-action-mobile .animation-container {
    width: 100%;
    height: var(--animation-h);
}

.frictionless-quick-action-mobile .animation-container video {
    width: 100%;
    height: 100%;
}

.frictionless-quick-action-mobile .animation-container.hide {
    display: none;
}

.frictionless-quick-action-mobile .dropzone {
    font-family: var(--body-font-family);
    width: 100%;
    height: var(--animation-h);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #f8f8f8;
    border: 0;
    padding: 0;
}

.frictionless-quick-action-mobile .dropzone .border-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    border-radius: 10px;
    border-image: url("/express/icons/dash-rectangle.svg") 20 / 20px;
}

.frictionless-quick-action-mobile .dropzone .text {
    font-size: 1.75rem;
    /* TODO: if winner, need to have dynamic width & height */
    width: 200px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    line-height: 1.1;
}

.frictionless-quick-action-mobile .dropzone .text strong {
    color: #5C5CE0;
    font-weight: 900;
}

.frictionless-quick-action-mobile .dropzone.hide {
    display: none;
}

.frictionless-quick-action-mobile .dropzone-bg + p {
    margin: 0;
    padding: 39px 24px 0 24px;
    font-size: var(--heading-font-size-m);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
}

.frictionless-quick-action-mobile .dropzone-bg + p em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action-mobile .dropzone p:last-of-type {
    font-size: .6875rem;
    margin: 0;
}

.frictionless-quick-action-mobile .dropzone .button {
    margin-bottom: 0;
}

.frictionless-quick-action-mobile .extra-container {
    padding-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frictionless-quick-action-mobile .extra-container p {
    font-size: var(--body-font-size-xs);
    text-align: center;
    margin: 0;
}

.frictionless-quick-action-mobile.block .free-plan-container {
    min-height: 15px;
}

.frictionless-quick-action-mobile.block .free-plan-widget {
    background-color: unset;
    flex-direction: row;
    padding: unset;
    margin: auto;
    gap: 8px;
    font-size: var(--body-font-size-xs);
}

.frictionless-quick-action-mobile.block .free-plan-widget > div {
    margin: 10px;
}

.frictionless-quick-action-mobile.block .free-plan-widget img.icon.icon-checkmark {
    background-color: #f06dad;
}

.frictionless-quick-action-mobile .quick-action-container {
    height: 667px;
}

.frictionless-quick-action-mobile .quick-action-container > * {
    height: 100%;
}

.frictionless-quick-action-mobile .quick-action-container#resize-image-container {
    height: 1080px;
}

.frictionless-quick-action-mobile > div.hidden {
    visibility: hidden;
    position: absolute;
}

.frictionless-quick-action-mobile > div.transparent {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
}

.frictionless-quick-action-mobile .error-toast.hide {
    opacity: 0;
}

.frictionless-quick-action-mobile .error-toast button {
    background-color: unset;
    border: unset;
    padding: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 1200) {
    .frictionless-quick-action-mobile .quick-action-container#resize-image-container {
        height: 1000px;
    }
}
