main .pricing-summary {
  padding: 90px 0 20px 0;
  width: auto;
  max-width: 1320px;
  margin: auto;
}

main .section .pricing-summary-wrapper {
  max-width: none;
  padding: 0 20px;
}

main .pricing-summary .pricing-container {
  margin: 0 10px 0 10px;
}

main .pricing-summary .pricing-container .pricing-summary-columns-container .carousel-platform {
  gap: 20px;
  align-items: center;
  width: auto;
  max-height: none;
}

main .pricing-summary .pricing-column {
  background-color: var(--color-white);
  border-radius: 20px;
  min-width: 370px;
  width: 100%;
  max-width: 420px;
  min-height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 0 0;
  justify-content: flex-start;
}

main .pricing-summary .pricing-column .pricing-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 270px;
  flex-grow: 1;
}

main .pricing-summary .pricing-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--heading-font-size-l);
}

main .pricing-summary .pricing-description {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  margin: 17px 0 0 0;
}

main .pricing-summary .pricing-description .details-cta,
main .pricing-summary .pricing-description .details-cta:hover {
  background-color: transparent;
  color: var(--color-info-accent);
  border: none;
  margin: 0;
}

main .pricing-summary .pricing-description > p,
main .pricing-summary .pricing-plan > p {
  font-size: var(--body-font-size-s);
}

main .pricing-summary .pricing-plan {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  max-width: 330px;
  gap: 15px;
}

main .pricing-summary .pricing-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

main .pricing-summary .pricing-base-price,
main .pricing-summary .pricing-price {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

main .pricing-summary .pricing-base-price {
  color: var(--color-gray-600);
}

main .pricing-summary .pricing-base-price strong {
  text-decoration: line-through;
}

main .pricing-summary .pricing-price > strong,
main .pricing-summary .pricing-base-price > strong {
  font-size: var(--heading-font-size-s);
  font-weight: 900;
}

main .pricing-summary .pricing-plan-suf {
  font-size: var(--body-font-size-s);
}

main .pricing-summary .pricing-description > p,
main .pricing-summary .pricing-plan > p {
  margin: 0;
  line-height: 22px;
}

main .pricing-summary .pricing-column .button-container {
  margin: 0 0 10px 0;
}

main .pricing-summary .pricing-column .button-container .details-cta {
  padding: 0;
  font-size: var(--body-font-size-s);
  box-shadow: none;
}

main .pricing-summary .pricing-column .button-container .dark {
  border: 2px solid var(--color-black);
}

main .pricing-summary > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 60px 0;
}

main .pricing-summary > div:first-of-type > div > h2 {
  font-size: var(--heading-font-size-xl);
}

main .pricing-summary > div:first-of-type > div > p {
  margin: 0;
}

main .pricing-summary > div:last-of-type {
  padding: 40px 0;
}

main .pricing-summary > div:last-of-type > div p {
  font-size: var(--body-font-size-xs);
  margin: 0 0 12px;
}

main .pricing-summary .pricing-feature-list {
  padding: 16px;
}

main .pricing-summary .pricing-feature-list svg,
main .pricing-summary .pricing-feature-list img {
  min-width: 22px;
  min-height: 22px;
}

main .pricing-summary .pricing-feature-list p {
  display: flex;
  text-align: left;
  gap: 8px;
  margin: 8px 0;
  font-size: var(--body-font-size-s);
}

@media (min-width: 900px) {
  main .section .pricing-summary-wrapper {
    max-width: 100%;
  }

  main .pricing-summary .pricing-container .pricing-summary-columns-container .carousel-platform {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
