.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #bc0101;
    color: #fff;
    text-align: center;
    padding: 8px 0px 8px 16px;
    position: absolute;
    z-index: 10;
    right: 30px;
    font-size: 17px;
    border-radius: 5px;
    margin-top: 20px;
}

.toast span {
    margin: 8px 0 0 0;
    padding-right: 18px;
    display: inline-block;
}

.toast-buttons {
    display: inline-block;
    border-inline-start-color: rgba(255, 255, 255, 0.25);
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
    float: right;
}

.toast-buttons button {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 32px;
    cursor: pointer;
    margin: 0px 8px;
}

.toast-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.25)
}

.toast-buttons img {
    height: 10px;
    width: 10px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.7s;
    animation: fadein 0.5s, fadeout 0.5s 3.7s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
