main  .floating-button-wrapper.mobile-fork-button, main .mobile-fork-button {
    z-index: 10;
    --mfb-font-size: 16px;
}

main .mobile-fork-button.long-text {
    --mfb-font-size: 14px;
}

main .mobile-gating-text {
    height: fit-content;
    margin: auto;
    text-align: left;
    flex-grow: 1;
    font-weight: 400;
    font-size: var(--mfb-font-size);
}

main .mobile-gating-text, main .mobile-fork-button .floating-button .mobile-gating-row .icon{
    width: 22px;
    height: 22px;
    margin: auto;
}

main .mobile-fork-button  .mobile-gating-header-row .mobile-gating-exit {
    border-radius: 24px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    font-size: var(--body-font-size-xs);
    background: var(--Palette-sx-gray-100, var(--color-gray-200));
}

main  .mobile-fork-button .floating-button.block {
    background-color: var(--color-white);
    border-radius: 28px;
    box-shadow: 0px 0px 12px 0px #00000029;
    padding: 16px;
    width: calc(100% - 16px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main .mobile-gating-row {
    display: flex;
    gap: 10px;
    min-height: 40px;
}

main .mobile-gating-header {
    font-size: var(--type-heading-xxs-lh);
    font-weight: 700; 
    text-align: center;
    margin-bottom: 8px;
}

main .mobile-fork-button .floating-button a.button:any-link {
    border-radius: 20px;
    font-size: var(--mfb-font-size);
    min-width: 150px;
    margin: auto;
    width: 50%;
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .mobile-fork-button .floating-button a.button:any-link.accent {
    color: var(--color-var(--color-white));
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .mobile-fork-button .floating-button a.button:any-link.outline {
    background-color: var(--color-white);
    border: 2px solid var(--Border-Extra-subdued-default, var(--color-gray-200));
    color: var(--color-black);
}

main .mobile-fork-button.floating-button--hidden .floating-button.block {
    margin-bottom: -10px
}