.frictionless-quick-action.block h1 {
    font-size: 2.8125rem;
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0;
}

.frictionless-quick-action.block h1+p {
    margin: 16px 0 24px;
    font-size: 1rem;
}

.frictionless-quick-action.block h1 em {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 400% 400%;
    -webkit-animation: quickActionGradient 45s ease infinite;
    -moz-animation: quickActionGradient 45s ease infinite;
    animation: quickActionGradient 45s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    font-style: normal;
    -webkit-text-fill-color: transparent;
}

.frictionless-quick-action.block > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frictionless-quick-action.block > div:nth-child(2) > div:nth-child(2) {
    margin-top: 26px;
}

.frictionless-quick-action.block > div:nth-child(2) > div:nth-child(1) {
    min-width: 444px;
    min-height: 455px;
}
.frictionless-quick-action.block video {
    max-width: 444px;
}

.frictionless-quick-action.block h4 em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action.block .dropzone-container {
    cursor: pointer;
    padding: 24px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 271px;
}

.frictionless-quick-action.block .dropzone-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background: url("/express/icons/dash-rectangle.svg") center center / 91% no-repeat;
}

.frictionless-quick-action.block .dropzone-container.highlight .dropzone-bg {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(6%) contrast(104%);
    transition: 0.3s ease-in-out;
}

.frictionless-quick-action.block .dropzone-container:hover, .frictionless-quick-action.block .dropzone-container.highlight  {
    background-color: rgb(211, 211, 211, 0.2);
}

.frictionless-quick-action.block .dropzone {
    height: 100%;
    width: 100%;
    position: relative;
}

.frictionless-quick-action.block .dropzone h4 {
    margin-top: 0;
    padding-top: 39px;
}

.frictionless-quick-action.block .dropzone p:last-of-type {
    font-size: .6875rem;
    margin: 6px 0 0;
}

.frictionless-quick-action.block .dropzone .button-container {
    display: flex;
    justify-content: center;
}

.frictionless-quick-action.block .dropzone .button {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    width: fit-content;
}

.frictionless-quick-action.block > div:nth-child(2) > div:nth-child(2) > p:last-of-type {
    margin: 15px 0 0;
    font-size: 0.75rem;
}

.frictionless-quick-action.block > div:nth-child(2) > div:nth-child(2) > p:last-of-type a {
    font-weight: 400;
}

.frictionless-quick-action.block .free-plan-container {
    display: inline-block;
    margin: 10px;
}
.frictionless-quick-action.block .free-plan-icon-container {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    background: #f06dad;
    border-radius: 50%;
}
.frictionless-quick-action.block .free-plan-container .icon {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    max-height: 8px;
}
