.frictionless-quick-action.block > div:nth-child(2) {
    display: inline-flex;
}

.frictionless-quick-action.block h2 em {
    font-style: normal;
    background: linear-gradient(to right, deeppink, mediumpurple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.frictionless-quick-action.block h3 {
    font-size: 1.5rem;
}

.frictionless-quick-action.block h3 em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action.block .dropzone-container {
    cursor: pointer;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-width: 520px;
}

.frictionless-quick-action.block .dropzone-container:hover, .frictionless-quick-action.block .dropzone-container.highlight  {
    background-color: rgb(211, 211, 211, 0.2);
}

.dropzone {
    background: url(/express/img/dropzone.svg) center center / 100% no-repeat;
    padding: 24px;
}
