/* main .floating-button-wrapper.multifunction {
    flex-direction: column-reverse;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
    height: auto;
    background: unset
}

main .floating-button-wrapper.multifunction.clamped {
    width: auto;
}

main .floating-button-wrapper.multifunction::before {
    content: '';
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,1) 78%);;
}

main .floating-button-wrapper.multifunction .toolbox {
    display: flex;
    pointer-events: auto;
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: 24px 0;
    transform: translateY(72px);
    width: 100%;
    max-height: 0;
    border-radius: 32px;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    bottom: 0;
    z-index: 1;

}

main .floating-button-wrapper.multifunction .toolbox:after {
    content: '';
    position: absolute;
    border-radius: 32px;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-color: white;

}

main .floating-button-wrapper.multifunction.with-transition .toolbox,
main .floating-button-wrapper.multifunction.with-transition .toolbox:after {
    transition: 0.5s;
}

main .floating-button-wrapper.multifunction .toolbox.hidden {
    display: none;
}

main .floating-button-wrapper.multifunction .floating-button .toggle-button {
    position: absolute;
    left: 29px;
    height: 18px;
    padding: 4px;
    width: 18px;
    bottom: 50%;
    transform: translateY(50%);
    transition: transform 0.2s;
    z-index: 2;
}

main .floating-button-wrapper.multifunction .floating-button .toggle-button .lottie-plus-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 120px;
    pointer-events: none;
    transition: opacity 0.2s;
}

main .floating-button-wrapper.multifunction.toolbox-opened .floating-button .toggle-button {
    transform: translateY(50%) rotate(45deg);
}

main .floating-button-wrapper.multifunction.toolbox-opened .floating-button .toggle-button .lottie-plus-animation {
    opacity: 0;
}

main .floating-button-wrapper.multifunction.toolbox-opened .toolbox {
    max-height: 500px;
    padding-bottom: 64px;
    transform: translateY(64px);
    z-index: 1;
}

main .floating-button-wrapper.multifunction.with-transition .floating-button {
    transition: all .2s;
}

main .floating-button-wrapper.multifunction .floating-button.toolbox-opened {
    background-color: var(--color-white);
}

main .floating-button-wrapper.multifunction .toolbox .notch {
    position: absolute;
    padding: 6px;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}

main .floating-button-wrapper.multifunction .toolbox .notch-pill {
    border-radius: 20px;
    height: 4px;
    width: 36px;
    background: var(--color-gray-300);
}

main .floating-button-wrapper.multifunction .toolbox .badge {
    position: absolute;
    max-width: 120px;
    top: -8px;
    right: 32px;
    transition: all 0.5s;
}

main .floating-button-wrapper.multifunction .toolbox .tool {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

main .floating-button-wrapper.multifunction .toolbox .tool:first-of-type {
    padding-right: 120px;
}

main .floating-button-wrapper.multifunction .toolbox .toolbox-top {
    margin: 0 32px 12px 32px;
    border-bottom: 1px solid var(--color-gray-300);
}

main .floating-button-wrapper.multifunction .toolbox .toolbox-bottom {
    margin: 0 32px;
}

main .floating-button-wrapper.multifunction .toolbox .tool img,
main .floating-button-wrapper.multifunction .toolbox .tool svg {
    color: var(--color-black);
    fill: var(--color-black);
    height: 22px;
    width: 22px;
    margin-right: 12px;
    object-fit: contain;
}

main .floating-button-wrapper.multifunction .toolbox .tool a {
    font-size: 16px;
    line-height: 21px;
    color: var(--color-black);
}

main .floating-button-wrapper.multifunction .toolbox-background {
    position: fixed;
    pointer-events: none;
    bottom: -50vh;
    left: unset;
    transform: unset;
    height: 200vh;
    width: 100vw;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

main .floating-button-wrapper.multifunction.toolbox-opened .toolbox-background {
    pointer-events: auto;
    background-color: var(--color-black);
    opacity: 0.75;
}

main .floating-button-wrapper.multifunction.floating-button--hidden .toolbox,
main .floating-button-wrapper.multifunction.floating-button--hidden .toolbox-background {
    opacity: 0;
} */

main .floating-button-wrapper.dual-action-button .floating-button .dual-action-link {
    width: 40%;
}

main .dual-action-text {
    height: fit-content;
    margin: auto;
    text-align: left;
    flex-grow: 1;
}

main .dual-action-text, main .floating-button-wrapper.dual-action-button .floating-button .icon{
    height: fit-content;
    margin: auto;
}

main .floating-button-wrapper.dual-action-button .floating-button {
    background-color: white;
    border-radius: 16px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background: solid;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .dual-action-row {
    display: flex;
    gap: 10px;
}

main .dual-action-header {
    font-size: 14pt;
    font-weight: 600;
    margin: 10px auto;
}

main .floating-button-wrapper.dual-action-button .floating-button a.button {
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .floating-button-wrapper.dual-action-button .floating-button a.button.accent {
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .floating-button-wrapper.dual-action-button .floating-button a.button.outline {
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    color: black;
}

main .floating-button-wrapper.dual-action-button.floating-button--hidden .floating-button {
    margin-bottom: unset;
}