.promptbar {
    height: 30px;
    background: var(--color-white);
    border-radius: 40px;
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-inline-start: 12px;
    padding-inline-end: 7px;
    border: 1px solid #E6E6E6;
    justify-content: space-between;
    width: 247px;
    box-sizing: content-box;
  }
  
  .promptbar > button:hover {
    cursor: pointer;
  }
  
  .promptbar.light {
    background: #111111;
    border: 1px solid #323232;
  }
  
  .prompt-text {
    width: 142px;
    outline: none;
    color: var(--text-color);
    background: var(--color-white);
    display: flex;
    border: none;
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .prompt-text.light {
    color: #DBDBDB;
    background: #111111;
  }
  
  .enticement-arrow {
    display: none;
    width: 49px;
    height: 73px;
    position: absolute;
  }
  
  .enticement-text {
    display: none;
    max-width: 30ch;
    position: absolute;
    font-size: 28px;
    line-height: 35px;
    margin: 40px 0 16px -20px;
    top: -90px;
    color: var(--color-white);
    font-weight: 700;
  }
  
  .enticement-text.light {
    color: #000000;
  }
  
  .selector-tray {
    border-radius: 4px;
    display: flex;
    background: var(--color-white);
    padding: 8px;
    justify-content: space-between;
    width: auto;
    box-sizing: content-box;
  }
  
  .selector-tray.light {
    background: #111111;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    color: var(--text-color);
    font-size: var(--type-body-xxs-size);
    line-height: var(--type-body-xxs-lh);
    padding: 7px;
    width: 100%;
    margin-inline-end: 8px;
    font-weight: bold;
    background: var(--color-white);
    min-height: 50px;
  }
  
  .options.light {
    border: 1px solid #6D6D6D;
    color: #DBDBDB;
    background: #111111;
  }
  
  .optionsvg {
    width: 20px;
    height: 20px;
    display: block;
    margin-inline: auto;
    margin-bottom: 2px;
  }
  
  .svgselected {
    filter: brightness(10);
  }
  
  .button-text {
    display: block;
    max-width: 15ch;
  }
  
  .options.last-button {
    margin-inline-end: 0;
  }
  
  .options.selected {
    background-color: #1473E6;
    color: var(--color-white);
  }
  
  .options:hover {
    border: 1px solid #1473E6;
    cursor: pointer;
  }
  
  .genfill-prompt {
    position: absolute;
    bottom: 106px;
    margin-inline-start: 16px;
    font-size: var(--type-body-xs-size);
    line-height: var(--type-body-xs-lh);
    color: var(--text-color);
  }
  
  .genfill-prompt>p:first-child {
    margin-bottom: 8px;
    color: var(--text-color);
  }
  
  .genfill-promptused {
    background-color: gray;
    color: var(--color-white);
    border-radius: 16px;
    font-size: 15px;
    line-height: 16px;
    padding: 5px 14px;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    width: auto;
    margin-top: 0;
    border: 2px solid gray;
  }
  
  @media (max-width: 600px) {
    .button-text {
      text-align: center;
      width: 100%;
    }
  }
  
  @media (min-width: 600px) and (max-width: 1199px) {
    .promptbar {
      height: 40px;
      padding-inline: 32px 7px;
      width: 464px;
    }
  
    .prompt-text {
      width: 325px;
      font-size: var(--type-body-l-size);
      line-height: var(--type-body-l-lh);
    }
  
    .enticement-arrow {    
      right: 575px;
      top: -30px; 
      display: block;
    }
  
    [dir="rtl"] .enticement-arrow { 
      right: -54px;
      transform: scaleX(-1);
    }
  
    .enticement-text {
      display: block;
    }
  
    [dir="rtl"] .enticement-text {
      position: absolute;
      right: var(--spacing-xxs);
      margin: 40px -20px 16px 0;
    }
  
    .genfill-prompt {
      bottom: 145px;
      margin-inline-start: 32px;
      font-size: var(--type-body-s-size);
      line-height: var(--type-body-s-lh);
    }
  
    .genfill-promptused {
      border-radius: 20px;
      font-size: 17px;
      line-height: 20px;
      min-height: 21px;
      padding: 7px 18px 8px;
    }
  
    .options {
      margin-inline-end: 16px;
      padding: 7px;
      min-height: 57px;
      flex-direction: column;
      justify-content: flex-start;
      font-size: var(--type-body-xs-size);
      line-height: var(--type-body-xs-lh);
      width: 100%;
      max-width: 18ch;
    }
  
    .selector-tray {
      display: flex;
      flex-direction: row;
      padding: 16px;
      bottom: inherit;
    }
  
    .optionsvg {
      display: block;
      margin-inline: auto;
    }
  
    .options.last-button {
      margin-inline-end: 0;
    }
  
    .button-text {
      text-align: center;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .promptbar {
      height: 50px;
      padding-inline: 40px 7px;
      width: 440px;
    }
  
    .prompt-text {
      font-size: var(--type-body-l-size);
      line-height: var(--type-body-l-lh);
      width: 294px;
    }
  
    .enticement-arrow {
      right: 575px;
      top: -30px;
      display: block;
    }
  
    [dir="rtl"] .enticement-arrow { 
      right: -54px;
      transform: scaleX(-1);
    }
  
    .enticement-text {
      display: block;
    }
  
    [dir="rtl"] .enticement-text {
      position: absolute;
      right: var(--spacing-xxs);
      margin: 40px -20px 16px 0;
    }
  
    .options {
      margin-bottom: 16px;
      padding: 15px;
      width: 100%;
      height: 72px;
      flex-direction: row;
      justify-content: flex-start;
      font-size: var(--type-body-m-size);
      line-height: var(--type-body-m-lh);
      margin-inline-end: 0;
    }
  
    .selector-tray {
      display: flex;
      flex-direction: column;
      width: auto;
      padding: 16px;
      bottom: inherit;
      justify-content: center;
      align-items: center;
    }
  
    .selector-tray:nth-last-child(n+3) ~ .selector-tray {
      height: 248px;
    }
  
    .selector-tray:nth-last-child(n+4) ~ .selector-tray {
      height: 336px;
    }
  
    .options.last-button {
      margin-bottom: 0;
    }
  
    .optionsvg {
      width: 40px;
      height: 40px;
      display: inline;
      margin-inline: 0 16px;
      margin-bottom: 0;
    }
  
    .button-text {
      margin-top: auto;
      margin-bottom: auto;
    }
  
    .genfill-prompt {
      bottom: 46px;
      margin-inline-start: 40px;
      font-size: var(--type-body-s-size);
      line-height: var(--type-body-s-lh);
    }
  
    .genfill-promptused {
      border-radius: 20px;
      font-size: 17px;
      line-height: 20px;
      min-height: 21px;
      padding: 7px 18px 8px;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1350px) {
    .enticement-arrow {
      right: 0;
      left: -55px;
    }
  }
  