.generate-btn {
    background-color: #6495ED;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
}


.try-it-section {
    text-align: center;
}

.try-it-text {
    position: absolute;
    left: 0;
    top: -40px;
    font-size: 24px;
    font-weight: bold;
}

.curved-arrow {
    position: absolute;
    left: -60px;
    top: -20px;
    width: 50px;
    height: auto;
    transform: rotate(45deg);
}


.input-container {
    position: relative;
    width: 100%;
    max-width: 610px;
    /* Increased by 10px to account for the larger input */
    margin: 40px auto;
    padding: 15px;
}


input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}