.fqa-unity-wrapper, .fqa-unity.block {
  max-width: none !important;
}

.fqa-unity.block {
  padding: 40px 20px;
}

.fqa-unity.block h1 {
  font-size: 2.8125rem;
}

.fqa-unity.block h1+p {
  margin: 16px 0 24px;
  font-size: 1rem;
}

.fqa-unity.block .quick-action-container {
  /* min-height: 697px; */
  max-width: 1440px;
  width: 100%;
  margin: auto;
  transition: opacity 0.2s;
}

.fqa-unity.block h1 em {
  background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
  background-size: 400% 400%;
  -webkit-animation: quickActionGradient 45s ease infinite;
  -moz-animation: quickActionGradient 45s ease infinite;
  animation: quickActionGradient 45s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  font-style: normal;
  -webkit-text-fill-color: transparent;
}

.fqa-unity.block > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  flex-wrap: wrap;
}

.fqa-unity.block > div:nth-child(2) > div:nth-child(2) {
  margin-top: 26px;
}

.fqa-unity.block .dropzone-container {
  cursor: pointer;
  padding: 24px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 630px;
  height: 284px;
}

.fqa-unity.block .dropzone-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background: url("/express/icons/dash-rectangle.svg") center center / 91% no-repeat;
}

.fqa-unity.block .dropzone-container.highlight .dropzone-bg {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(6%) contrast(104%);
  transition: 0.3s ease-in-out;
}

.fqa-unity.block .dropzone-container:hover, .fqa-unity.block .dropzone-container.highlight  {
  background-color: rgb(211, 211, 211, 0.2);
}

.fqa-unity.block .dropzone {
  height: 100%;
  width: 100%;
  position: relative;
}

.fqa-unity.block .dropzone-bg + p {
  margin: 0;
  padding: 39px 24px 0 24px;
  font-size: var(--heading-font-size-m);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

.fqa-unity.block .dropzone-bg + p em {
  font-style: normal;
  color: var(--color-info-accent);
}

.fqa-unity.block .dropzone p:last-of-type {
  font-size: .6875rem;
  margin: 0;
}

.fqa-unity.block .dropzone .button {
  margin-bottom: 0;
}

.fqa-unity.block > div:nth-child(2) > div:nth-child(2) > p:last-of-type {
  margin: 15px 0 0;
  font-size: 0.75rem;
}

.fqa-unity.block .free-plan-widget {
  background-color: unset;
  flex-direction: row;
  padding: unset;
  margin: 16px auto 0 auto;
  gap: 8px;
}

.fqa-unity.block .free-plan-widget > div {
  margin: 10px;
}

.fqa-unity.block .free-plan-widget img.icon.icon-checkmark {
  background-color: #f06dad;
}

.fqa-unity.block .quick-action-container > * {
  height: 100%;
}

.fqa-unity.block > div.hidden {
  visibility: hidden;
  position: absolute;
}

.fqa-unity.block > div.transparent {
  /* opacity: 0; */
  display: none;
}

.file-input {
  display: none;
}