/* Future proofing wrapper deprecation. To be removed after milo migration */
main .section .hero-color-wrapper {
  max-width: unset;
}

main .hero-color {
  max-width: unset;
}

main .hero-color .content-container .text {
  display: none;
}

main .hero-color .content-container {
  min-height: 200px;
  height: 200px;
}

main .hero-color .text-container {
  display: flex;
  justify-content: center;
}

main .hero-color .text-container .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
  text-align: left;
}

main .hero-color .content-container h2,
main .hero-color .text-container h2 {
  margin: 0 0 16px 0;
  font-size: 42px;
  text-align: left;
}

main .hero-color .content-container p,
main .hero-color .text-container p {
  margin: 0 0 32px 0;
}

main .hero-color .content-container .text .button-container,
main .hero-color .text-container .text .button-container {
  margin: 0;
}

main .hero-color .content-container .text .button-container .button,
main .hero-color .text-container .button-container .button {
  margin: 0;
  padding: 12px 23px 14px 23px;
  border-radius: 100px;
  font-size: 16px;
}

main .hero-color .content-container .color-svg-img {
  height: 100%;
  width: 100%;
  margin: 0 0 0 15px;
}

main .hero-color .content-container .color-svg {
  height: 100%;
  width: 100%;
}

main .hero-color .light-bg, main .hero-color .dark-bg .button {
  color: var(--color-black);
  background-color: var(--color-white);
}

main .hero-color .dark-bg, main .hero-color .light-bg .button {
  color: var(--color-white);
  background-color: var(--color-black);
}

@media screen and (min-width: 600px) {
  main .hero-color .content-container .color-svg-img {
    margin: 0 0 0 365px;
  }

  main .hero-color .text-container {
    margin: 32px;
  }
}

@media screen and (min-width: 900px) {
  main .hero-color .text-container {
    display: none;
  }

  main .hero-color .content-container {
    min-height: 336px;
    height: 336px;
  }

  main .hero-color .content-container {
    display: flex;
    gap: 60px;
  }

  main .hero-color .content-container .color-svg-img {
    margin: 0;
    overflow: hidden;
  }

  main .hero-color .content-container .color-svg {
    width: 100%;
    height: 100%;
  }

  main .hero-color .content-container .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 32px;
    text-align: left;
    /* width: 486px; */
    max-width: 486px;
  }
}
