.qa-widget {
    position: fixed;
    max-height: 80px;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity 0.2s, max-height 0.2s;
    top: auto;
    bottom: 24px;
    right: 24px;
    z-index: 99;
    background: var(--body-background-color);
    padding: 16px;
    border-radius: 8px;
    min-width: 280px;
    max-width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.3);
}

.qa-widget:hover {
    opacity: 1;
    max-height: 273px;
}

.qa-widget button {
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    line-height: 0;
    min-width: 72px;
    overflow: visible;
    padding: 0 14px;
    transition: background-color .13s ease-out, border-color .13s ease-out;
    white-space: nowrap;
    margin-top: 8px;
    width: auto;
}

.qa-widget .qa-widget-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

.qa-widget .qa-widget-close:hover {
    transform: scale(1.05);
}

.qa-widget .qa-progress {
    margin-bottom: 8px;
}
.qa-widget .qa-widget-form .checkboxes-container {
    max-height: 180px;
    overflow: auto;
}

.qa-widget .qa-widget-form .checkboxes-container > div {
    display: flex;
    align-items: baseline;
    margin: 4px 0;
}

.qa-widget .qa-widget-form input[type='checkbox'] {
    margin: 0 4px 0 0;
}

.qa-widget .qa-widget-form label {
    user-select: none;
}

.qa-widget .qa-widget-form .checkbox-all {
    border-top: 1px solid var(--color-gray-500);
    margin-top: 4px;
}

.qa-widget .qa-widget-form > textarea {
    margin: 8px 0;
    padding: 8px;
}

.qa-guide-story-selector {
    padding: 16px;
}

.qa-guide-story-selector .story-selector-heading {
    margin: 0;
}

.qa-guide-story-selector .story-selector-description {
    margin: 0;
}

.qa-guide-story-selector .story-selector-input {
    display: block;
    padding: 8px;
    box-sizing: border-box;
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
}

.qa-guide-story-selector .story-selector-input::placeholder {
    font-family: var(--body-font-family);
}

.qa-guide-story-selector button {
    padding: 4px 8px;
    margin-right: 8px;
    user-select: none;
}

.qa-guide-story-selector .story-selector-error {
    margin-top: 8px;
    color: red;
}

@media screen and (min-width: 900px) {
    .qa-widget,
    .qa-widget:hover {
        max-height: unset;
    }
}
