.feature-grid.block {
  position: relative;
  padding: 0 16px;
}

.feature-grid.block.dark .grid-item,
.feature-grid.block.dark .grid-item a {
  color: var(--color-white);
}

.feature-grid .heading {
  text-align: left;
  align-self: flex-start;
}

.feature-grid .heading p {
  margin: 16px 0;
}

.feature-grid .heading h1 {
  font-size: var(--heading-font-size-xl);
}

.feature-grid .grid-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 28px;
}

.feature-grid .grid-container:has(+ .load-more-div) {
  height: 2568px;
}

.feature-grid:not(.expanded) .grid-container:has(+ .load-more-div) {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 200px, rgba(0, 0, 0, 1) calc(100% - 200px), transparent, transparent);
}

.feature-grid .grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--body-color);
  font-weight: normal;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  background-image: linear-gradient(150deg, #D9418A, #D94F4B, #E9A840, #D9418A, #D94F4B, #E9A840);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400% 400%;
  -webkit-animation: GridGradient 85s ease infinite;
  -moz-animation: GridGradient 85s ease infinite;
  animation: GridGradient 85s ease infinite;
}

.feature-grid .cta {
  color: var(--body-color);
  margin-bottom: 24px;
}

.feature-grid .grid-item .cta:hover {
  text-decoration: underline;
}

.feature-grid .grid-item p {
  text-align: left;
  margin: 16px 0;
  line-height: 1.3;
  font-size: var(--body-font-size-m);
}

.feature-grid .grid-item img,
.feature-grid .grid-item video {
  align-self: center;
  object-fit: contain;
  flex-grow: 1;
  overflow: auto;
}

.feature-grid .grid-item h2 {
  margin-top: 1rem;
  font-size: var(--heading-font-size-m);
  text-align: left;
}

.feature-grid .grid-item:nth-of-type(n+5) h2 {
  line-height: 1.1;
}

.feature-grid .grid-item:nth-of-type(n+5) {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.feature-grid:not(.expanded) .load-more-div {
  position: absolute;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100vw;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.feature-grid.expanded .load-more-div {
  margin-top: 80px;
}

.feature-grid .load-more-button {
  display: flex;
  height: 40px;
  padding: 16px;
  color: var(--color-gray-800);
  align-items: center;
  cursor: pointer;
  border: 2px solid #242424;
  border-radius: 100px;
  background-color: transparent;
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-weight: bold;
  margin: auto;
}

.feature-grid .load-more-chev {
  display: flex;
  color: var(--color-gray-800);
  width: 6px;
  height: 6px;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotate(45deg);
  margin-left: 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.feature-grid.expanded .load-more-chev {
  transform: rotate(-135deg);
  margin: -4px 0 0 6px;
}

@media (min-width: 900px) {
  /* To be removed after wrapper deprecation */
  .section > .block.feature-grid {
    max-width: 760px;
  }

  .feature-grid.block {
    padding: 0;
  }

  .feature-grid.expanded .grid-container {
    height: 3885px;
  }

  .feature-grid.expanded .grid-container {
    height: 4708px;
  }

  .feature-grid .grid-item h2 {
    font-size: var(--heading-font-size-m);
  }

  .feature-grid .grid-item p { 
    font-size: var(--body-font-size-l);
  }

  .feature-grid .grid-item.item-1 h2,
  .feature-grid .grid-item.item-4 h2 {
    font-size: var(--heading-font-size-xxl);
  }

  .feature-grid .grid-item.item-2 h2,
  .feature-grid .grid-item.item-3 h2 {
    font-size: var(--heading-font-size-xl);
  }

  .feature-grid .heading {
    max-width: 630px;
  }

  .feature-grid .grid-item {
    padding: 2rem 2.5rem 2rem 1.5rem;
  }

  .feature-grid .grid-item:nth-of-type(n+5) {
    padding-top: 1rem;
  }

  .feature-grid .grid-item:nth-of-type(n+5) p {
    margin: 1rem 0;
  }

  .feature-grid .grid-item.item-1 {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
  }

  .feature-grid .grid-item.item-2 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-3 {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-4 {
    grid-column: 1 / 7;
    grid-row: 5 / 7;
  }

  .feature-grid .grid-item.item-5 {
    grid-column: 1 / 4;
    grid-row: 11 / 12;
  }

  .feature-grid .grid-item.item-6 {
    grid-column: 1 / 7;
    grid-row: 7 / 9;
  }

  .feature-grid .grid-item.item-6 img,
  .feature-grid .grid-item.item-6 video {
    max-height: 578px;
  }

  .feature-grid .grid-item.item-7 {
    grid-column: 3 / 7;
    grid-row: 10 / 11;
  }

  .feature-grid .grid-item.item-8 {
    grid-column: 4 / 7;
    grid-row: 11 / 12;
  }

  .feature-grid .grid-item.item-9 {
    grid-column: 1 / 3;
    grid-row: 9 / 11;
  }

  .feature-grid .grid-item.item-9 img {
    height: 553px;
    width: auto;
  }

  .feature-grid .grid-item.item-10 {
    grid-column: 1 / 4;
    grid-row: 12 / 13;
  }

  .feature-grid .grid-item.item-11 {
    grid-column: 4 / 7;
    grid-row: 12 / 13;
  }

  .feature-grid .grid-item.item-12 {
    grid-column: 3 / 7;
    grid-row: 9 / 10;
  }
}

@media (min-width: 1200px) {
  .feature-grid .grid-container {
    display: grid;
    overflow: hidden;
    height: 2344px;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(12, 374px);
    grid-gap: 20px;
  }

  /* To be removed after wrapper deprecation */
  .section > .block.feature-grid {
    max-width: 1020px;
  }

  .feature-grid .grid-container {
    grid-template-columns: repeat(8, 110px);
    grid-template-rows: repeat(8, 410px);
  }

  .feature-grid .grid-container {
    height: 1700px
  }

  .feature-grid .grid-container:has(+ .load-more-div) {
    height: 1920px;
  }

  .feature-grid.expanded .grid-container {
    height: 3420px;
  }

  .feature-grid .grid-item.item-1 {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
  }

  .feature-grid .grid-item.item-1 img,
  .feature-grid .grid-item.item-1 video {
    max-height: 100%;
  }

  .feature-grid .grid-item.item-2 {
    grid-column: 6 / 9;
    grid-row: 1 / 3;
  }

  .feature-grid .grid-item.item-3 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-4 {
    grid-column: 4 / 9;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-5 {
    grid-column: 5 / 7;
    grid-row: 8 / 9;
  }

  .feature-grid .grid-item.item-5 h2,
  .feature-grid .grid-item.item-5 p {
    max-width: 260px;
  }

  .feature-grid .grid-item.item-6 {
    grid-column: 1 / 7;
    grid-row: 5 / 7;
  }

  .feature-grid .grid-item.item-6 img,
  .feature-grid .grid-item.item-6 video {
    max-height: 548px;
    max-width: 100%;
    margin-bottom: 4rem;
  }

  .feature-grid .grid-item.item-6 p,
  .feature-grid .grid-item.item-6 h2 {
    max-width: 260px;
  }

  .feature-grid .grid-item.item-7 {
    grid-column: 1 / 5;
    grid-row: 8 / 9;
  }

  .feature-grid .grid-item.item-8 {
    grid-column: 7 / 9;
    grid-row: 8 / 9;
  }

  .feature-grid .grid-item.item-9 {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
  }

  .feature-grid .grid-item.item-10 {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .feature-grid .grid-item.item-11 {
    grid-column: 3 / 5;
    grid-row: 7 / 8;
  }

  .feature-grid .grid-item.item-12 {
    grid-column: 5 / 9;
    grid-row: 7 / 8;
  }
}

@media (min-width: 1440px) {
  /* To be removed after wrapper deprecation */
  .section > .block.feature-grid {
    max-width: 1255px;
  }

  .feature-grid .grid-container {
    grid-template-columns: repeat(17, 55px);
    grid-template-rows: repeat(7, 400px);
  }

  .feature-grid .grid-container {
    height: 1740px
  }

  .feature-grid .grid-container:has(+ .load-more-div) {
    height: 2028px;
  }

  .feature-grid.expanded .grid-container {
    height: 2920px;
  }

  .feature-grid .grid-item:nth-of-type(-n+4) {
    padding-left: 48px;
    padding-right: 48px;
    line-height: 1;
  }

  .feature-grid .grid-item.item-1 {
    grid-column: 1 / 11;
    grid-row: 1 / 3;
  }

  .feature-grid .grid-item.item-2 {
    grid-column: 11 / 18;
    grid-row: 1 / 3;
  }

  .feature-grid .grid-item.item-3 {
    grid-column: 1 / 8;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-4 {
    grid-column: 8 / 18;
    grid-row: 3 / 5;
  }

  .feature-grid .grid-item.item-5 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }

  .feature-grid .grid-item.item-6 {
    grid-column: 5 / 14;
    grid-row: 5 / 7;
  }

  .feature-grid .grid-item.item-6 {
    grid-column: 5 / 14;
    grid-row: 5 / 7;
  }

  .feature-grid .grid-item.item-7 {
    grid-column: 14 / 18;
    grid-row: 5 / 6;
  }

  .feature-grid .grid-item.item-8 {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
  }

  .feature-grid .grid-item.item-9 {
    grid-column: 14 / 18;
    grid-row: 6 / 8;
  }

  .feature-grid .grid-item.item-10 {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
  }
  .feature-grid .grid-item.item-11 {
    grid-column: 5 / 9;
    grid-row: 7 / 8;
  }

  .feature-grid .grid-item.item-12 {
    grid-column: 9 / 14;
    grid-row: 7 / 8;
  }
}

@-webkit-keyframes GridGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GridGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GridGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
