main .mobile-gating-text {
    height: fit-content;
    margin: auto;
    text-align: left;
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;

}

main .mobile-gating-text, main .mobile-gating-button .floating-button .mobile-gating-row .icon{
    width: 22px;
    height: 22px;
    margin: auto;
}

main .mobile-gating-button .mobile-gating-header-row {
    display: flex;
}

main .mobile-gating-button  .mobile-gating-header-row .mobile-gating-exit {
    border-radius: 24px;
    margin-left: auto;
    width: 24px;
    font-size: 14px;
    height: 24px;
    background: var(--Palette-sx-gray-100, #E9E9E9);
}

main .mobile-gating-button  .mobile-gating-header-row .mobile-gating-exit img {
    position: absolute;
    top: 20.5px;
    right: 20.5px;
}

main  .mobile-gating-button .floating-button.block {
    background-color: white;
    border-radius: 28px;
    box-shadow: 0px 0px 12px 0px #00000029;
    background-color: #f8f8f8;
    padding: 16px;
    width: calc(100% - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main .mobile-gating-row {
    display: flex;
    gap: 10px;
    height: 40px;
}

main .mobile-gating-header {
    font-size: 18px;
    font-weight: 700; 
    text-align: left;
}

main .mobile-gating-button .floating-button a.button:any-link {
    border-radius: 20px;
    font-size: 16px;;
    width: 40%;
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .mobile-gating-button .floating-button a.button:any-link.accent {
    color: var(--color-white);
    background-color: var(--color-info-accent);
    border-color: var(--color-info-accent);
}   

main .mobile-gating-button .floating-button a.button:any-link.outline {
    background-color: var(--color-white);
    border: 2px solid var(--Border-Extra-subdued-default, #E1E1E1);
    color: black;
}

main .mobile-gating-button.floating-button--hidden .floating-button {
    margin-bottom: unset;
}