:root {
  --border-color: #D9D9D9;
  --highlight-background: #F3D949;
  --hover-border-color: #357BEB;
  --section-head-background: #E6E6E6;
  --checkmark-color: #268E6C;
}

.table-ax,
.table-ax.merch {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  border-color: var(--border-color);
}

.table-ax > .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
}

.table-ax .col {
  min-height: 27px;
  border-left: 1px var(--border-color) solid;
  border-top: 1px var(--border-color) solid;
}

.table-ax .col:last-child {
  border-right: 1px var(--border-color) solid;
}

.table-ax .row:last-child .col {
  border-bottom: 1px var(--border-color) solid;
}

.table-ax .col,
.table-ax .col p {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
}

.table-ax .col p {
  margin: 0;
}

.table-ax .col p picture {
  margin-right: 8px;
}

.table-ax.merch .col {
  border-top: 1px var(--border-color) solid;
  border-left: 1px var(--border-color) solid;
  border-right: 1px var(--border-color) solid;
}

.table-ax.merch .col.border-bottom {
  border-bottom: 1px var(--border-color) solid;
}

.table-ax .row-highlight .col.col-highlight {
  border-color: transparent;
}

.table-ax.collapse .section-head-collaped .col {
  border-bottom: 1px var(--border-color) solid;
}

/* highlight */
.table-ax .row-highlight .col-highlight {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  background-color: var(--highlight-background);
  border: 1px solid var(--highlight-background);
  padding: 10px 30px;
  text-transform: capitalize;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-ax .row-highlight .col-highlight.hidden {
  visibility: hidden;
}

/* heading */
.table-ax .row-heading .col-heading.hidden {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.table-ax .row-heading .col-heading:last-child {
  border-top-right-radius: 16px;
}

.table-ax .row-heading .col-heading.no-rounded:last-child {
  border-top-right-radius: 0;
}

.table-ax.m-heading-icon .row-heading .col-heading img {
  height: var(--icon-size-m);
  width: auto;
}

.table-ax .section-row .col.section-row-title,
.table-ax .section-row .col.section-row-title p {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
}

.table-ax:not(.merch) .section-row .col:not(.section-row-title),
.table-ax .row-heading .col.col-heading {
  text-align: center;
}

.table-ax .row-heading .col.col-heading {
  background-color: var(--color-white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-ax .row-heading .col.col-heading .buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table-ax.button-right.merch .row-heading .col.col-heading .buttons-wrapper {
  justify-content: flex-end;
}

.table-ax.merch.button-right .row-heading .col.col-heading .buttons-wrapper > * {
  margin: 12px 0 12px 12px;
}

.table-ax .row-heading .col.col-heading .buttons-wrapper > * {
  margin: 12px 6px;
}

.table-ax .row-heading .col-heading.top-left-rounded {
  border-top-left-radius: 16px;
}

.table-ax .row-heading .col-heading.top-right-rounded {
  border-top-right-radius: 16px;
}

.table-ax .row-heading .col-1.col-heading:not(.no-rounded) {
  border-top-left-radius: 16px;
}

.table-ax .row-heading .col-heading .tracking-header {
  font-size: var(--type-heading-s-size);
  line-height: var(--type-heading-s-lh);
  font-weight: bold;
  padding: var(--spacing-xxs) 0;
}

.table-ax .row-heading .col-heading .pricing {
  font-size: var(--type-heading-m-size);
  line-height: var(--type-heading-m-lh);
  font-weight: bold;
  padding: var(--spacing-xxs) 0;
}

.table-ax .row-heading .col-heading .body {
  font-size: var(--type-body-m-size);
}

/* section */
.table-ax .divider {
  display: none;
}

.table-ax .section-head .col {
  background-color: var(--section-head-background);
  padding: 28px 24px;
}

.table-ax .section-row .col {
  padding: 16px 24px;
}

.table-ax .section-head-title.point-cursor {
  cursor: pointer;
}

.table-ax .section-head .section-head-title > :not(.icon) {
  font-size: var(--type-body-m-size);
  line-height: var(--type-heading-s-lh);
  width: calc(100% - 20px);
}

.table-ax .section-head .section-head-title,
.table-ax .section-row .section-row-title,
.table-ax.merch .section-head .col-merch,
.table-ax.merch .section-row .col-merch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-ax.collapse .section-row.hidden {
  display: none;
}

.table-ax:not(.merch) .section-head > :not(:first-child) {
  border-left-color: transparent;
}

.table-ax:not(.merch) .section-head > :not(:last-child) {
  border-right-color: transparent;
}

.table-ax .light {
  color: var(--color-white);
}

/* icons */
.table-ax .icon-milo-info {
  height: 18px;
}

.table-ax .icon-milo-info:hover {
  cursor: pointer;
}

.table-ax .icon-milo-info:hover path,
.table-ax .active .icon-milo-info path {
  color: var(--hover-border-color);
}

.table-ax .icon-milo-checkmark {
  color: var(--checkmark-color);
  width: 23px;
  height: 100%;
}

.table-ax .icon.expand {
  background-color: transparent;
  border: 0;
  background-image: url('../../ui/img/expand2.svg');
  background-repeat: no-repeat;
  background-position: center right;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.table-ax .section-head-title:hover .icon.expand {
  filter: invert(41%) sepia(22%) saturate(100) hue-rotate(203deg) brightness(96%) contrast(93%);
}

.table-ax .icon.expand[aria-expanded=true] {
  background-image: url('../../ui/img/collapse2.svg');
}

.table-ax .row-highlight .col-highlight.transparent-border {
  border-color: transparent;
}

/* rtl */
[dir="rtl"] .table-ax .col {
  border-right: 1px var(--border-color) solid;
  border-left: 0;
}

[dir="rtl"] .table-ax.merch .col {
  border-left: 1px var(--border-color) solid;
}

[dir="rtl"] .table-ax .col:first-child {
  border-right: 1px var(--border-color) solid;
}

[dir="rtl"] .table-ax .col:last-child:not(.hover) {
  border-left: 1px var(--border-color) solid;
}

[dir="rtl"] .table-ax .row-heading .col-heading:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 16px;
}

[dir="rtl"] .table-ax .row-heading .col-heading.top-left-rounded {
  border-top-right-radius: 16px;
  border-top-left-radius: 0;
}

[dir="rtl"] .table-ax .row-heading .col-heading.top-right-rounded {
  border-top-left-radius: 16px;
  border-top-right-radius: 0;
}

[dir="rtl"] .table-ax .row-heading .col.no-rounded {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* hover */
@media (min-width: 900px) {
  .table-ax .col.hover {
    border-left: 1px solid var(--hover-border-color);
    border-right: 1px solid var(--hover-border-color);
  }

  .table-ax .row-highlight .col-highlight {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .table-ax .row-highlight .col-highlight.hover {
    border-top: 1px solid var(--hover-border-color);
    border-left: 1px solid var(--hover-border-color);
    border-right: 1px solid var(--hover-border-color);
  }

  .table-ax .row-heading .col-heading.hover {
    border-top: 1px solid var(--hover-border-color);
  }

  .table-ax .row:last-child .col.hover,
  .table-ax .col.hover.hover-border-bottom {
    border-bottom: 1px solid var(--hover-border-color);
  }

  .table-ax .col.no-top-border.hover {
    border-top-color: var(--border-color);
  }

  .table-ax .section-head .col.hover {
    border-right: 1px solid var(--hover-border-color);
    border-left: 1px solid var(--hover-border-color);
  }

  .table-ax .row:not(.section-head) .col:not(.col-highlight):not(.hidden).hover {
    background-color: var(--color-gray-100);
  }

  .table-ax.merch .col.hover {
    border-left: 1px solid var(--hover-border-color);
    border-right: 1px solid var(--hover-border-color);
  }

  .table-ax.merch .col.border-bottom.hover {
    border-bottom: 1px solid var(--hover-border-color);
  }
}

/* scroll */
header.global-navigation {
  z-index: 2;
}

.table-ax .row-highlight,
.table-ax .row-heading {
  position: sticky;
  z-index: 1;
  background-color: var(--color-white);
  transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.table-ax:not(.merch) .row-heading.active,
.table-ax.merch .row-heading.active .col-heading {
  transition-duration: 400ms;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.15);
}

.top-border-transparent {
  border-top: 1px solid transparent;
}

@media (min-width: 769px) {
  .table-ax-section .filters {
    display: none;
  }

  .table-ax.merch .filters {
    display: grid;
  }

  .table-ax > .row {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .table-ax.merch > .row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-m);
  }
}

/* table merch */
@media (min-width: 900px) {
  .table-ax-merch-section .filters {
    display: none;
  }
}

.table-ax.merch > .row {
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  gap: var(--spacing-xs);
}

.table-ax.merch .row-heading .col-heading:not(.no-rounded) {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.table-ax.merch .section-head .col.section-head-title ,
.table-ax.merch .row-heading .col.col-heading {
  text-align: left;
}

.table-ax.merch .col,
.table-ax.merch .row-heading .col.col-heading {
  padding-left: 24px;
  padding-right: 24px;
}

.table-ax.merch .row-heading .col.col-heading .buttons-wrapper {
  justify-content: flex-start;
}

.table-ax.merch .row-heading .col.col-heading .buttons-wrapper > * {
  margin: 12px 12px 12px 0;
}

.table-ax.merch .col.no-borders {
  visibility: hidden;
}

.table-ax.merch .section-head .col {
  padding: 24px;
}

.table-ax.merch .col-merch .col-merch-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.table-ax.merch .col-merch .col-merch-content picture {
  display: flex;
  width: 30px;
  margin-right: 16px;
}

/* Start tablet styles */
@media (max-width: 899px) {
  .table-ax,
  .table-ax.merch {
    margin: 0 30px;
  }

  .table-ax:not(.merch) .row .section-head-title,
  .table-ax:not(.merch) .row .section-row-title {
    border-right: 1px solid var(--border-color);
  }

  .table-ax:not(.merch) .section-head {
    display: block;
  }

  .table-ax .section-head .col:not(.section-head-title),
  .table-ax:not(.merch) .col-heading.col-1,
  .table-ax:not(.merch) .row-highlight .col-highlight.col-1 {
    display: none;
  }

  .table-ax:not(.merch) .section-row-title {
    grid-row: 1;
    grid-column: 1 / x;
    background-color: var(--color-gray-100);
  }

  .table-ax .row-heading .col:nth-child(n+1) {
    padding: 20px;
  }

  .table-ax:not(.highlight):not(.merch) .col-2.col-heading {
    border-top-left-radius: 16px;
  }
}

/* Start mobile styles */
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 20px 30px 0;
}

.filter-wrapper {
  text-align: center;
}

.filter {
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  appearance: none;
  position: relative;
  padding-right: 30px;
  background: url("../../ui/img/chevron-wide-black.svg") no-repeat 100%;
}

@media (max-width: 768px) {
  .table-ax .col {
    border: 1px var(--border-color) solid;
  }

  .table-ax:not(.highlight) .col-heading {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

@media (max-width: 400px) {
  .table-ax,
  .table-ax.merch {
    margin: 0 2px;
    min-width: 395px;
  }

  .table-ax.merch .col-merch .col-merch-content {
    flex-direction: column;
  }
}

/* ---NEW--- */

/* Negating the very general "main .pricing" rules in styles.css */
.table-ax .pricing{
  height: auto;
  opacity:1;
}
