main .section>.pricing-cards-wrapper {
  max-width: fit-content;
}

.simplified-pricing-cards {
  --card-width: 300px;
  --card-padding: 12px;
  --body-font-size-xs: 0.875rem;
  --body-font-size-s: 1rem;
  --body-font-size-m: 1.125rem;
  --heading-font-size-s: 1.5rem;
}

main .section:has(.pricing-cards)>div,
.pricing-cards-container>div.pricing-cards-wrapper {
  max-width: unset;
}

.simplified-pricing-cards .card-wrapper {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: min-content;
}

.simplified-pricing-cards .card {
  width: var(--card-width);
  position: relative;
  padding: 0 10px;
  z-index: 1;
  border: 2px solid #C6C6C6;
  background-color: white;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
}

.simplified-pricing-cards .card.special-promo {
  border-color: yellow;
}

.simplified-pricing-cards .card.special-promo .promo-eyebrow-text {
  color: black;
  background-color: yellow;
  position: absolute;
  top: -12px;
  right: 4px;
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
}

.simplified-pricing-cards .none {
  display: none;
}

.simplified-pricing-cards .card.gradient-promo {
  margin-top: unset;
  background: linear-gradient(white 0 0) padding-box,
    linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
  border-top-width: 56px;
}

.simplified-pricing-cards .promo-eyebrow-text {
  position: absolute;
  top: -44px;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.simplified-pricing-cards .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 8px;
  width: calc(var(--card-width) - 20px);
  margin: auto;
}

.simplified-pricing-cards .card.gradient-promo .card-header {
  height: 35px;
  border: 20px solid white;
  border-bottom: 0;
  top: -12px;
  position: relative;
  width: calc(var(--card-width) - 20px  );
  border-radius: 8px;
  left: -10px;
  padding: 0;
}

.pricing-cards.block .card-header h2,
.simplified-pricing-cards .card-header h2 {
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  font-size: 1.75rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.simplified-pricing-cards .card-header h2 {
  flex-direction: row-reverse;
  text-align: left;
}

.simplified-pricing-cards .card-header img {
  width: 22px;
  height: 22px;
}

.simplified-pricing-cards .card-header .head-cnt {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  font-size: var(--body-font-size-m);
  font-weight: 400;
}

.simplified-pricing-cards .card-header .head-cnt>img {
  width: 14px;
  height: 14px;
  padding-right: 6px;
}

.simplified-pricing-cards .card>.plan-explanation {
  margin: 0 auto 0 auto;
  text-align: left;
  width: calc(var(--card-width) - 20px);
}

.simplified-pricing-cards .pricing-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.simplified-pricing-cards .pricing-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  border-radius: 8px; 
  padding: var(--card-padding);
  margin-top: 5px; 
  text-align: left;
}

.simplified-pricing-cards .pricing-area p {
  margin: 0;
  font-size: var(--body-font-size-s);
}

.simplified-pricing-cards .pricing-area .pricing-row-suf {
  font-size: var(--body-font-size-xs);
}

.simplified-pricing-cards .pricing-area:not(:has(p)) {
  font-size: 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.simplified-pricing-cards .pricing-area-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.simplified-pricing-cards .pricing-area-wrapper:has(.hide) {
  min-height: 0;
}

.simplified-pricing-cards .card .compare-all {
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.simplified-pricing-cards .billing-toggle.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.pricing-cards:has(.billing-toggle:not(.hidden)) .billing-toggle.hidden {
  height: unset;
}

.simplified-pricing-cards .card-offer {
  position: absolute;
  right: 8px;
  top: -10px;
  border-radius: 4px;
  background: #D3D5FF;
  padding: 0 6px 1px;
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  color: #5258E4;
  display: none;
  max-width: 240px;
}

.simplified-pricing-cards .card-offer a {
  text-decoration: underline;
}

.simplified-pricing-cards .pricing-base-price,
.simplified-pricing-cards .pricing-price {
  font-size: 36px;
  font-weight: 900;
}
.simplified-pricing-cards .pricing-price > * {
  font-size: 36px;
  font-weight: 900;
}
.simplified-pricing-cards .pricing-price.price-active {
  color: #5258E4;
}

.simplified-pricing-cards .pricing-base-price {
  color: var(--color-gray-600);
}

.simplified-pricing-cards .pricing-base-price>strong {
  text-decoration: line-through;
  padding-right: 4px;
}

.simplified-pricing-cards .pricing-price>strong,
.simplified-pricing-cards .pricing-base-price>strong,
.simplified-pricing-cards .pricing-price>sup {
  padding-left: 4px;
}

.pricing-cards-wrapper+.default-content-wrapper .button-container {
  margin-top: -40px;
}

.pricing-cards-wrapper+.default-content-wrapper .button-container .button {
  padding: 13px 1.5em 14px;
  border-radius: 27px;
  font-size: var(--body-font-size-m);
}

.simplified-pricing-cards .card-cta-group {
  gap: 5px;
  margin: 20px 0;
}

.simplified-pricing-cards .card-cta-group:not(.hide) {
  display: flex;
  flex-direction: column;
}

.simplified-pricing-cards .card-cta-group p.button-container {
  margin: 0;
}

.simplified-pricing-cards .card-cta-group a {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.simplified-pricing-cards .billing-toggle .billing-radio-hidden {
  display: none;
}

.simplified-pricing-cards .billing-toggle {
  gap: 12px;
  font-size: var(--body-font-size-s);
  margin: 0 auto 12px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.simplified-pricing-cards .billing-button-wrapper {
  display: flex;
  gap: 10px;
}

.simplified-pricing-cards .billing-toggle .toggle-button-wrapper {
  display: flex;
  margin-top: 10px;
  gap: 12px;
}

.simplified-pricing-cards .billing-toggle button {
  border: 2px transparent solid;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: var(--body-font-size-xs);
  display: flex;
  align-items: center;
  gap: 4px;
}

.simplified-pricing-cards .billing-toggle :focus-within {
  border-color: var(--color-info-accent);
}

.simplified-pricing-cards .billing-toggle span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s all linear;
  border: 2px solid #292929;
  box-sizing: border-box;
}

.simplified-pricing-cards .billing-toggle .checked span {
  border-width: 6px;
}

.simplified-pricing-cards .card-feature-list {
  align-self: flex-start;
  text-align: left;
  flex-grow: 1;
}

.simplified-pricing-cards .card-feature-list p {
  padding: 16px 0;
  border-bottom: 1px solid var(--Palette-gray-100, #E9E9E9);
  margin: 0 0 24px;
  box-sizing: border-box;
  text-align: left;
}

.simplified-pricing-cards .card-feature-list p strong {
  font-size: var(--body-font-size-m);
  padding: 8px;
}

.simplified-pricing-cards .card-feature-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.simplified-pricing-cards .card-feature-list li {
  padding: 8px;
}

.simplified-pricing-cards .card-feature-list li:first-of-type {
  padding-top: 0;
}

.simplified-pricing-cards .card-feature-list li:last-of-type {
  padding-bottom: 0;
}

.simplified-pricing-cards .card-feature-list li a {
  text-decoration: underline;
  font-weight: 400;
}

.simplified-pricing-cards .card>div:last-of-type>a:hover {
  background: none;
}

.simplified-pricing-cards .tooltip-icon {
  position: relative;
  top: 2px;
}

.simplified-pricing-cards .tooltip-text {
  opacity: 0;
  padding: 8px;
  z-index: 10;
  background-color: #292929;
  color: white;
  border-radius: 8px;
  position: absolute;
  bottom: 100%;
  min-width: 200px;
  left: -105px;
  width: fit-content;
  margin-bottom: 19px;
  transition: bottom 0.5s;
  pointer-events: none;
}

.simplified-pricing-cards .tooltip-text.overflow-left {
  right: inherit;
  left: -20px;
}

.simplified-pricing-cards .tooltip-text.overflow-right {
  left: inherit;
  right: -20px;
}

.simplified-pricing-cards .tooltip-text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  border: 5px solid transparent;
  border-top-color: black;
}

.simplified-pricing-cards .tooltip-text.overflow-left::after {
  right: inherit;
  left: 20px;
}

.simplified-pricing-cards .tooltip-text.overflow-right::after {
  left: inherit;
  right: 20px;
}

.simplified-pricing-cards .tooltip {
  position: relative;
  display: inline;
}

.simplified-pricing-cards .tooltip span {
  position: relative;
}

.simplified-pricing-cards .tooltip .icon:hover~.tooltip-text {
  opacity: 1;
}

.pricing-cards>div:last-of-type {
  padding: 12px 8px;
  margin: 16px auto;
  border-radius: 4px;
  background: #E0E2FF;
  font-size: var(--body-font-size-xs);
  max-width: 1200px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.simplified-pricing-cards .toggle-switch {
  display: none;
}

.simplified-pricing-cards .card.hide .toggle-switch {
  rotate: 180deg;
}



@media (max-width: 600px) {
  .simplified-pricing-cards {
    flex-wrap: wrap;
    gap: 20px;
  }

  .simplified-pricing-cards .card {
    --card-width: 325px;
    margin: auto;
    min-height: unset;
  } 


  .simplified-pricing-cards .card-feature-list,
  .simplified-pricing-cards .card .card-feature-list {
    display: none;
    min-height: 0;
  }

  .simplified-pricing-cards .card-cta-group,
  .simplified-pricing-cards .pricing-area-wrapper {
    min-height: unset;
  }

  .simplified-pricing-cards .pricing-area-wrapper {
    margin-bottom: 20px;
  }

  .simplified-pricing-cards .billing-toggle.hidden {
    display: none;
  }

  .simplified-pricing-cards .card-header {
    display: flex;
  }

  .simplified-pricing-cards .card-header > * {
    margin-right: auto; 
  }

  .simplified-pricing-cards .card-header > *:first-child {
    margin-right: 10px;
  }

  .simplified-pricing-cards .toggle-switch {
    font-weight: 600;
    transform: scalex(1.75) rotate(90deg);
    display: block; 
    margin-left: auto;
    margin-right: 0;
  }


.simplified-pricing-cards .card-wrapper .card.hide .plan-explanation{
  display:none;
}

.simplified-pricing-cards .card-wrapper .card.hide .pricing-area {
  display: none;
}

.simplified-pricing-cards .card-wrapper .card.hide .card-cta-group {
  display: none;
}

}

@media (min-width: 1400px) {
  .simplified-pricing-cards .card-wrapper {
    width: max-content;
    gap: 16px;
  }
 
}