main .checker-board-dark-container {
  background-color: black;
  color: white;
}

@media (min-width: 800px) {

  main .checker-board {
    max-width: 900px;
  }
  
  main .checker-board > div {
    display: flex;
  }

  main .checker-board > div:nth-child(odd) {
    flex-direction: row-reverse;
  }

  main .checker-board > div > div{
    width: 50%;
    padding: 20px;
    text-align: left;
  }
}

