main .section.banner-container,
main .section.banner-standout-container,
main .section.banner-compact-container {
  background-color: var(--color-info-accent);
}

main .section.banner-container,
main .section.banner-light-container {
  padding: 80px 15px;
}

main .section.banner-standout-container {
  padding: 48px 0;
}

main .section.banner-compact-container {
  padding: 40px 15px;
}

main .section.banner-container > div {
  padding: 0;
}

main .banner {
  padding: 0;
  margin: 0 auto;
  color: var(--color-white);
}

main .banner.light {
  color: var(--color-black);
}

main .banner.compact p {
  margin: 24px;
}

main .banner.compact p.button-container {
  margin-bottom: 0;
}

main .banner.compact p.button-container ~ p {
  margin-top: 0;
}

main .banner h2,
main .banner h3 {
  color: var(--color-white);
}

main .banner h2 {
  margin-top: 0;
}

main .banner.light h2,
main .banner.light h3 {
  color: var(--color-black);
}

main .banner.standout h2,
main .banner.standout h3 {
  color: var(--heading-color);
}

main .banner a:any-link {
  color: var(--color-white);
}

main .banner.light a:any-link {
  color: var(--color-black);
}

main .banner .icon {
  height: 72px;
  width: 72px;
}

main .banner.multi-button .button-container {
  display: inline-block;
}

main .banner p:last-of-type {
  margin-bottom: 0;
}

main .banner .standout-container {
  background-color: var(--body-background-color);
  color: var(--body-color);
  padding: 33px 28%;
  border-radius: 12px;
}

main .banner .standout-container em {
  font-style: normal;
  background: linear-gradient(180deg, #FF4DD2 20%, #FF993B 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

main .grid-width-6-desktop.narrow.banner-container  .banner{
  max-width: 850px;
  margin: 0 auto; 
}

@media (min-width: 900px) {
  main .section.banner-container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (max-width: 900px) {
  main .section.banner-standout-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 900px) {
  main .banner .standout-container {
    padding: 33px 9%;
  }
}
