main .section.banner-container,
main .section.banner-compact-container {
  background-color: #07f;
  /* background-color: var(--color-info-accent); */
}

main .section.banner-container,
main .section.banner-light-container {
  padding: 80px 15px;
}

main .section.banner-compact-container {
  padding: 40px 15px;
}

main .section.banner-container > div {
  padding: 0;
}

main .banner {
  padding: 0;
  margin: 0 auto;
  color: black;
  /* color: var(--color-white); */
}

main .banner.light {
  color: var(--color-black);
}

main .banner.compact p {
  margin: 24px;
}

main .banner.compact p.button-container {
  margin-bottom: 0;
}

main .banner.compact p.button-container ~ p {
  margin-top: 0;
}

main .banner h2, main .banner h3 {
  color: var(--color-white);
}

main .banner h2 {
  margin-top: 0;
}

main .banner.light h2, main .banner.light h3 {
  color: var(--color-black);
}

main .banner a:any-link {
  color: var(--color-white);
}

main .banner.light a:any-link {
  color: var(--color-black);
}

main .banner .icon {
  height: 72px;
  width: 72px;
}

main .banner.multi-button .button-container {
  display: inline-block;
}

main .banner p:last-of-type {
  margin-bottom: 0;
}

main .banner-standout-container {
  background-color: white;
  color: #2A2A2A;
  padding: 33px;
  /* outline: 3px dotted orange; */
   /* #07f; */
  border-radius: 12px;
}

main .banner-standout-message-container {
  /* margin: 0 128px; */
  margin: 0 auto;
  width: 45%;
}

main .banner-standout-container  h2 {
  color: #333
}

main .banner-standout-container .button-container a.button {
  background-color: #2A2A2A !important;    /* FIX THIS */
}

main .banner-standout-container .banner-standout-text {
  /* font-size: 72px; */
  /* background: -webkit-linear-gradient(red, orange); */


  /* background: linear-gradient(135deg, red 10%, orange 90%); */

  /* background: linear-gradient(red 33%, orange 67%); */

  /* background: linear-gradient(#E75FcF 33%, #F19759 67%); */

  /* background: linear-gradient(#E75FcF 50%, #F19759 50%); */

  /* background: linear-gradient(#E75FcF, #F19759); */

  background: linear-gradient(red 33%, orange 67%);




  /* background: linear-gradient(red, orange); */

  font-weight: 900;

  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
}

@media (min-width:900px) {
  main .section.banner-container {
    padding-left: 56px;
    padding-right: 56px;
  }
}
