main .section.banner-container,
main .section.banner-standout-container,
main .section.banner-compact-container {
  background-color: var(--color-info-accent);
}

main div:has(> .banner.cool) {
  background: linear-gradient(170.96deg, #bfe4ff -0.25%, #cecef6 104.12%);
}

main .section .banner .bg-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  max-height: 300px;
}

main .section.banner-container,
main .section.banner-light-container {
  padding: 80px 15px;
}

main .section.banner-standout-container {
  padding: 48px 0;
}

main div:has(> .banner.cool) {
  padding: 24px 0;
}

main .section.banner-compact-container {
  padding: 40px 15px;
}

main .section.banner-container > div {
  padding: 0;
}

main .banner {
  padding: 0;
  margin: 0 auto;
  color: var(--color-white);
}

main .banner.light {
  color: var(--color-black);
}

main .banner.compact p {
  margin: 24px;
}

main .banner.compact p.button-container {
  margin-bottom: 0;
}

main .banner.compact p.button-container ~ p {
  margin-top: 0;
}

main .banner h2,
main .banner h3 {
  color: var(--color-white);
}

main .banner h2 {
  margin-top: 0;
}

main .banner.light h2,
main .banner.light h3 {
  color: var(--color-black);
}

main .banner.standout h2,
main .banner.standout h3 {
  color: var(--heading-color);
}

main .banner a:any-link {
  color: var(--color-white);
}

main .banner.light a:any-link {
  color: var(--color-black);
}

main .banner .icon {
  height: 72px;
  width: 72px;
}

main .banner.multi-button .button-container {
  display: inline-block;
}

main .banner p:last-of-type {
  margin-bottom: 0;
}

main .banner.standout .content-container {
  background-color: var(--body-background-color);
  color: var(--body-color);
  padding: 33px 28%;
  border-radius: 12px;
}

main .banner.standout .content-container em {
  font-style: normal;
  background: linear-gradient(180deg, #ff4dd2 20%, #ff993b 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

main .banner.cool {
  padding: 0 16px;
  max-width: unset;
}

main .banner.cool .content-container {
  color: var(--body-color);
  background: linear-gradient(
    95.37deg,
    rgba(255, 255, 255, 0.8) 18.1%,
    rgba(255, 255, 255, 0.4) 93.47%
  );
  padding: 38px 35px 20px;
  border: 2px solid #fff;
  border-radius: 15px;
}

main .banner.cool p.button-container {
  margin-top: 16px;
}

main .banner.cool p.button-container a.button {
  font-size: 17px;
  padding-left: 1.65em;
  padding-right: 1.65em;
}

main .banner.cool h2 {
  color: var(--body-color);
  font-size: 28px;
  font-weight: 900;
  padding: 0 15px;
}

@media (min-width: 768px) {
  main div:has(> .banner.cool) {
    padding: 40px 0;
  }
  main .banner.cool {
    padding: 0 32px;
    max-width: unset;
  }
  main .banner.cool .content-container {
    padding: 38px 45px 20px;
  }
  main .banner.cool h2 {
    padding: 0;
  }
  main .banner.cool p.button-container {
    margin-top: 14px;
  }
}

@media (min-width: 1280px) {
  main div:has(> .banner.cool) {
    padding: 48px 0;
  }
  main .banner.cool {
    padding: 0 40px;
    max-width: unset;
  }
  main .banner.cool .content-container {
    padding: 70px 45px;
  }
  main .banner.cool h2 {
    font-size: 45px;
    font-weight: 900;
  }
  main .banner.cool p.button-container {
    margin-top: 21px;
  }
  main .banner.cool p.button-container a.button {
    font-size: 19px;
  }
}

@media (min-width: 1680px) {
  main .banner.cool {
    padding: 0;
    max-width: 1600px;
  }
}

main .grid-width-6-desktop .banner.narrow.desktop {
  max-width: 778px;
  margin: 0 auto;
}

main .grid-width-6-desktop .banner.narrow h2 {
  text-align: left;
}


main .banner.narrow {
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  main .section.banner-container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (max-width: 900px) {
  main .section.banner-standout-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 900px) {
  main .banner.standout .content-container {
    padding: 33px 9%;
  }
}
