main .section>.logo-row {
    max-width: 1280px;
}

main .logo-row .block-layout {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

main .logo-row .block-row {
    display: flex;
    width: fit-content;
    margin: auto;
}

main .logo-row .text-column {
    margin: auto 0 auto auto;
    padding-right: 40px;
    max-width: 300px;
}
 
main .logo-row .text-column > * {
    text-align: left;   
}

main .logo-row .text-content {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  
}

main .logo-row .image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

main .logo-row.numerous .image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

main .logo-row .brand-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

@media (max-width: 900px) {
    main .logo-row .block-row {
        display: block;
    }

    main .logo-row .image-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;
    }

    main .logo-row .text-column  {
       
        padding-bottom: 20px;
         padding-right: initial;   
    }
    main .logo-row .text-column > * {
        text-align: center;
    }

    main .logo-row .brand-image { 
        max-height: 100px;
        object-fit: contain;
    }
 
}