main .section>.logo-row {
    max-width: 1280px;
    padding-bottom: 40px;
}

main .logo-row .block-layout {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

main .logo-row .block-row {
    display: flex;
    width: fit-content;
    margin: auto;
}

main .logo-row .text-column {
    margin: auto auto 16px auto; 
    max-width: 300px;
    text-align: center;

}
 

main .logo-row .text-content {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  
}

main .logo-row .image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 375px;
}

main .logo-row .image-column p {
    margin: 0;
}

main .logo-row.numerous .image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

main .logo-row .brand-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

main .logo-row .block-row {
    display: block;
}


 
@media (min-width: 768px ) and (max-width: 1279px) {
    main .logo-row .block-row {
        display: flex;
    }

    main .logo-row .image-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 5px;
        max-width: unset;
    }

    main .logo-row .text-column  {
       margin: auto auto 16px auto;
         padding-right: initial;   
    }
    main .logo-row .text-column > * {
        text-align: left;
        font-size: 20px;
    }

    main .logo-row .brand-image { 
        max-height: 100px;
        object-fit: contain;
    }
 
    main .logo-row .brand-image {
        max-width: 80px;
        max-height: 80px;
        object-fit: contain;
    }
}


@media (min-width: 1280px) {
    main .logo-row .text-column {
        margin: auto 0 16px auto;
        padding-right: 40px;
        max-width: 320px;
    
    }

    main .logo-row .block-row {
        display: flex;
    }

    main .logo-row .text-column > * {
        text-align: left;   
    }
    main .logo-row .image-column {
        max-width: unset;
    }
 
}