@media (min-width: 900px) {
    .collapsible-row-accordion {
        height: 128px;
        margin-bottom: 4px;
        border-radius: 0px 16px 16px 0px;
        border-left: 4px solid #724CDC;
        background: #F8F8F8;
        padding: 16px;

        /* Flexbox to vertically center content */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertically centers the content */
    }

    .collapsible-row-header {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .collapsible-row-sub-header {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .collapsible-row-accordion.collapsed {
        display: none;
    }

    .collapsible-row-toggle-btn {
        display: block; 
        width: fit-content;
        margin-left: 0; 
        text-align: left;
        text-decoration: none;
        border-radius: 18px;
        padding: 5px 1.2em 6px 1.2em;
        font-size: var(--body-font-size-s);
        font-style: normal;
        font-weight: 600;
        line-height: var(--body-line-height);
        cursor: pointer;
        transition: background-color .3s, color .3s, border .3s;
        border-width: 2px;
        border-style: solid;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--color-white);
        background-color: var(--color-info-accent);
        border-color: var(--color-info-accent);
        font-weight: 600;
    }
}
